In [69]:
import pandas as pd 
import numpy as np

In [70]:
# 영화상영관 정보(2022.07.13)
cinema_info_data = pd.read_excel('/Users/dongyokim/main/jupyter/2022:Summer/문화 데이터 공모전/data/KOBIS_영화상영관정보_2022-07-13.xlsx', skiprows=[0, 1, 2, 3])




# 전용 상영관 현황 (2022.07.13)
cinema_private_data = pd.read_excel('/Users/dongyokim/main/jupyter/2022:Summer/문화 데이터 공모전/data/KOBIS_전용상영관_현황_2022-07-13.xlsx', skiprows=[0, 1, 2, 3, 4, 5, 6])

In [71]:
# 영화상영관 정보 
cinema_info_data.head()

,광역단체,기초단체,영화상영관코드,영화상영관명,총 스크린수,총 좌석수,필름 상영관수,2D 상영관수,3D 상영관수,4D 상영관수,...,상설여부,특별관운영여부,가입여부,전송사업자명,개관일,영업상태,운영형태,주소,전화번호,홈페이지
0,대구시,동구,12051,메가박스 대구신세계,6,901,0,6,2,0,...,상설,NaN,가입,메가박스(주),2016-12-15,영업,직영,대구광역시 동구 신천동 1506 번지 신세계백화점 8층,02-1544-0070,http://www.megabox.co.kr/
1,경기도,군포시,2290,메가박스 금정AK플라자,7,613,0,7,0,0,...,상설,NaN,가입,메가박스(주),2022-07-13,영업,직영,경기도 군포시 금정동 916 번지 AK플라자 금정점 지하1층~지상2층,1544-0070,https://www.megabox.co.kr
2,경기도,광명시,2289,메가박스 광명소하,6,800,0,6,0,0,...,상설,NaN,가입,메가박스(주),2022-07-05,영업,직영,경기도 광명시 소하동 1344 번지 광명G타워 지하1층~지하2층,1544-0070,https://www.megabox.co.kr
3,충청북도,청주시,4017,CGV 청주(서문),10,1821,0,10,2,0,...,상설,NaN,가입,CJ올리브네트웍스(주),2007-10-09,영업,직영,충청북도 청주시 상당구 서문동 29-2 번지,1544-1122,http://www.cgv.co.kr/
4,강원도,원주시,3024,롯데시네마 남원주,7,1196,0,7,3,0,...,상설,NaN,가입,롯데컬처웍스(주)롯데시네마,2005-10-28,영업,위탁,"강원도 원주시 단구동 1511-2 번지 스타월드 5,6층",1544-8855,http://www.lottecinema.co.kr/

In [72]:
cinema_info_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   광역단체       606 non-null    object
 1   기초단체       606 non-null    object
 2   영화상영관코드    606 non-null    int64
 3   영화상영관명     606 non-null    object
 4   총 스크린수     606 non-null    int64
 5   총 좌석수      606 non-null    int64
 6   필름 상영관수    606 non-null    int64
 7   2D 상영관수    606 non-null    int64
 8   3D 상영관수    606 non-null    int64
 9   4D 상영관수    606 non-null    int64
 10  IMAX 상영관수  606 non-null    int64
 11  상설여부       606 non-null    object
 12  특별관운영여부    0 non-null      float64
 13  가입여부       606 non-null    object
 14  전송사업자명     593 non-null    object
 15  개관일        591 non-null    object
 16  영업상태       606 non-null    object
 17  운영형태       606 non-null    object
 18  주소         598 non-null    object
 19  전화번호       511 non-null    object
 20  홈페이지       435 non-null    object
dtypes: float64(1), int64(8), object(12)
memory usage: 99.5+ KB

In [73]:
# 불필요한 열 삭제 
cinema_info_data.drop(['영화상영관코드', '전화번호', '홈페이지'], axis=1, inplace=True)

# 현재 영업 중인 상영관만 추출 
# 독립, 예술 영화만 추출 
cinema_info_data = cinema_info_data[cinema_info_data['영업상태'] == '영업'].reset_index(drop=True)

In [74]:
cinema_info_data.head()

,광역단체,기초단체,영화상영관명,총 스크린수,총 좌석수,필름 상영관수,2D 상영관수,3D 상영관수,4D 상영관수,IMAX 상영관수,상설여부,특별관운영여부,가입여부,전송사업자명,개관일,영업상태,운영형태,주소
0,대구시,동구,메가박스 대구신세계,6,901,0,6,2,0,0,상설,NaN,가입,메가박스(주),2016-12-15,영업,직영,대구광역시 동구 신천동 1506 번지 신세계백화점 8층
1,경기도,군포시,메가박스 금정AK플라자,7,613,0,7,0,0,0,상설,NaN,가입,메가박스(주),2022-07-13,영업,직영,경기도 군포시 금정동 916 번지 AK플라자 금정점 지하1층~지상2층
2,경기도,광명시,메가박스 광명소하,6,800,0,6,0,0,0,상설,NaN,가입,메가박스(주),2022-07-05,영업,직영,경기도 광명시 소하동 1344 번지 광명G타워 지하1층~지하2층
3,충청북도,청주시,CGV 청주(서문),10,1821,0,10,2,0,0,상설,NaN,가입,CJ올리브네트웍스(주),2007-10-09,영업,직영,충청북도 청주시 상당구 서문동 29-2 번지
4,강원도,원주시,롯데시네마 남원주,7,1196,0,7,3,0,0,상설,NaN,가입,롯데컬처웍스(주)롯데시네마,2005-10-28,영업,위탁,"강원도 원주시 단구동 1511-2 번지 스타월드 5,6층"

In [75]:
cinema_info_data.shape

(606, 18)

In [76]:
# 전용 상영관 
cinema_private_data.head()

   순번     상영관명        스크린명     상영구분                   지정일
0   1     광주극장  01관(문화부지정)  독립·예술영화   2007-5 (2007.07.25)
1   2   영화공간주안  01관(문화부지정)  독립·예술영화   2007-6 (2012.01.26)
2   3   영화공간주안  02관(문화부지정)  독립·예술영화   2007-7 (2012.01.26)
3   4   영화공간주안  03관(문화부지정)  독립·예술영화   2007-8 (2007.07.25)
4   5  서울아트시네마  01관(문화부지정)  독립·예술영화  2007-12 (2007.08.13)

In [77]:
cinema_private_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순번      146 non-null    int64
 1   상영관명    146 non-null    object
 2   스크린명    146 non-null    object
 3   상영구분    146 non-null    object
 4   지정일     146 non-null    object
dtypes: int64(1), object(4)
memory usage: 5.8+ KB

In [78]:
# 순번 열 삭제 
cinema_private_data.drop('순번', axis=1, inplace=True)

# 독립, 예술 영화만 추출 
cinema_private_data = cinema_private_data[cinema_private_data['상영구분'] == '독립·예술영화'].reset_index(drop=True)

In [79]:
cinema_private_data.head()

      상영관명        스크린명     상영구분                   지정일
0     광주극장  01관(문화부지정)  독립·예술영화   2007-5 (2007.07.25)
1   영화공간주안  01관(문화부지정)  독립·예술영화   2007-6 (2012.01.26)
2   영화공간주안  02관(문화부지정)  독립·예술영화   2007-7 (2012.01.26)
3   영화공간주안  03관(문화부지정)  독립·예술영화   2007-8 (2007.07.25)
4  서울아트시네마  01관(문화부지정)  독립·예술영화  2007-12 (2007.08.13)

In [80]:
# 독립영화 전문 상영관 총 69개 존재 (7.13 기준)
cinema_private_data.shape

(69, 4)

In [81]:
# 독립영화 전문 상영관 기준으로 left join
variety_movie_data = pd.merge(cinema_private_data, cinema_info_data, left_on='상영관명', right_on='영화상영관명', how='left').reset_index(drop=True)

In [82]:
variety_movie_data.drop('특별관운영여부', axis=1, inplace=True)

In [84]:
# 위도 경도 데이터가 없어서 맵에 좌표를 찍기가 어려움 
variety_movie_data.head()

,상영관명,스크린명,상영구분,지정일,광역단체,기초단체,영화상영관명,총 스크린수,총 좌석수,필름 상영관수,...,3D 상영관수,4D 상영관수,IMAX 상영관수,상설여부,가입여부,전송사업자명,개관일,영업상태,운영형태,주소
0,광주극장,01관(문화부지정),독립·예술영화,2007-5 (2007.07.25),광주시,동구,광주극장,1.0,856.0,1.0,...,0.0,0.0,0.0,상설,가입,(주)디트릭스,2004-03-26,영업,직영,광주광역시 동구 충장로5가 62
1,영화공간주안,01관(문화부지정),독립·예술영화,2007-6 (2012.01.26),인천시,남구,영화공간주안,4.0,496.0,0.0,...,0.0,0.0,0.0,상설,가입,(주)디트릭스,2007-05-01,영업,직영,인천광역시 남구 주안동 166-1 번지
2,영화공간주안,02관(문화부지정),독립·예술영화,2007-7 (2012.01.26),인천시,남구,영화공간주안,4.0,496.0,0.0,...,0.0,0.0,0.0,상설,가입,(주)디트릭스,2007-05-01,영업,직영,인천광역시 남구 주안동 166-1 번지
3,영화공간주안,03관(문화부지정),독립·예술영화,2007-8 (2007.07.25),인천시,남구,영화공간주안,4.0,496.0,0.0,...,0.0,0.0,0.0,상설,가입,(주)디트릭스,2007-05-01,영업,직영,인천광역시 남구 주안동 166-1 번지
4,서울아트시네마,01관(문화부지정),독립·예술영화,2007-12 (2007.08.13),서울시,중구,서울아트시네마,1.0,230.0,1.0,...,0.0,0.0,0.0,상설,가입,(주)에스아이티랩,NaN,영업,직영,서울특별시 중구 정동 22 번지 경향아트힐 2층

In [85]:
# 구글 맵스 api를 이용해서 주소나 상영관 이름을 입력하면 위도, 경도 정보 수집할 수 있는 함수 실행 
import googlemaps

gmaps_key = 'AIzaSyA8s_dFBFkQUKvrRJq95PvKkkL8dYY3FIQ'  # API설정할 때 얻은 key
gmaps = googlemaps.Client(key=gmaps_key)

In [86]:
latitude = []
longitude = []
address = []
for i in range(variety_movie_data.shape[0]):
    name = variety_movie_data['주소'][i]
    geocode_result = gmaps.geocode((name), language='ko') # 
    try:
        lat  = geocode_result[0]["geometry"]["location"]["lat"] # 리스트에서 위도 추출
        lon = geocode_result[0]["geometry"]["location"]["lng"] # 리스트에서 경도 추출
        re = geocode_result[0]['formatted_address']
        print("{0}. name: {1} lat: {2}, log: {3}, address: {4}".format(i, name, lat, lon, re))
        latitude.append(lat)
        longitude.append(lon)
        address.append(re)
    except:
        latitude.append(0)
        longitude.append(0)
        address.append(0)
        print("{0}: {1} 실패".format(i, name))

0. name: 광주광역시 동구 충장로5가 62 lat: 35.14990900000001, log: 126.912262, address: 대한민국 광주광역시 동구 충장로5가 62
1. name: 인천광역시 남구 주안동 166-1 번지 lat: 37.461241, log: 126.6805888, address: 대한민국 인천광역시 남구 주안동 166-1
2. name: 인천광역시 남구 주안동 166-1 번지 lat: 37.461241, log: 126.6805888, address: 대한민국 인천광역시 남구 주안동 166-1
3. name: 인천광역시 남구 주안동 166-1 번지 lat: 37.461241, log: 126.6805888, address: 대한민국 인천광역시 남구 주안동 166-1
4. name: 서울특별시 중구 정동 22 번지 경향아트힐 2층 lat: 37.5681269, log: 126.9699522, address: 대한민국 서울특별시 중구 정동 22
5. name: 대구 중구 동성로1가 22-1 lat: 35.87294139999999, log: 128.5956032, address: 대한민국 대구광역시 중구 동성로1가 22-1
6. name: 서울특별시 광진구 구의동 546-4 번지 테크노마트 10층 lat: 37.5358089, log: 127.0956288, address: 대한민국 서울특별시 광진구 광나루로56길 85
7. name: 인천광역시 남동구 구월동 1130 번지 씨앤씨빌딩 4층 lat: 37.4463387, log: 126.6946865, address: 대한민국 인천광역시 구월동 1391-9번지 남동구 인천광역시 KR
8. name: 부산광역시 부산진구 전포동 892-20 번지 지오플레이스 5층 lat: 35.1494535, log: 129.0640137, address: 대한민국 부산광역시 부산진구 전포동 892-20 5
9. name: 대전광역시 동구 중동 27-11 번지 3층 lat: 36.3300564, log: 127.4305058, address: 대한민국 대전광역시 동구 중동 27-11
10. name: 서울 종로구 낙원동 284-6 낙원상가4층 lat: 37.5726662, log: 126.9878079, address: 대한민국 서울특별시 종로구 삼일대로 428
11. name: 서울특별시 서대문구 대현동 11-1 번지 이화여자대학교 이화캠퍼스콤플렉스(지하4층) lat: 37.5618588, log: 126.9468339, address: 대한민국 서울특별시 서대문구 이화여대길 52
12. name: 서울특별시 서대문구 대현동 11-1 번지 이화여자대학교 이화캠퍼스콤플렉스(지하4층) lat: 37.5618588, log: 126.9468339, address: 대한민국 서울특별시 서대문구 이화여대길 52
13. name: 경상북도 안동시 삼산동 140-5 번지 3층 lat: 36.5651365, log: 128.7307581, address: 대한민국 경상북도 안동시 삼산동 140-5
14. name: 서울특별시 종로구 신문로1가 226 번지 흥국생명빌딩 지하 2층 lat: 37.569568, log: 126.9721646, address: 대한민국 서울특별시 종로구 신문로1가 226
15. name: 서울특별시 종로구 신문로1가 226 번지 흥국생명빌딩 지하 2층 lat: 37.569568, log: 126.9721646, address: 대한민국 서울특별시 종로구 신문로1가 226
16. name: 서울특별시 성북구 돈암동 538-98 번지 lat: 37.5998684, log: 127.0139365, address: 대한민국 서울특별시 성북구 돈암동 538-98
17. name: 전라북도 전주시 완산구 고사동 429-5 번지 전주영화제작소 4층 lat: 35.8183495, log: 127.1425492, address: 대한민국 전라북도 전주시 완산구 전주객사3길 22
18. name: 서울특별시 마포구 서교동 367-5 번지 상상마당빌딩 지하 3층, 4층 lat: 37.550912, log: 126.921127, address: 대한민국 서울특별시 마포구 어울마당로 65
19. name: 부산광역시 해운대구 우동 1467 번지 lat: 35.1711778, log: 129.1271956, address: 대한민국 부산광역시 해운대구 우동 1467
20. name: 부산광역시 해운대구 우동 1467 번지 lat: 35.1711778, log: 129.1271956, address: 대한민국 부산광역시 해운대구 우동 1467
21. name: 서울특별시 광진구 화양동 1 번지 건국대학교 예술디자인대학 B108호 KU시네마테크 lat: 37.5419717, log: 127.0767285, address: 대한민국 서울특별시 광진구 화양동 1
22. name: 강원도 강릉시 임당동 119-3 번지 lat: 37.754755, log: 128.8966094, address: 대한민국 강원도 강릉시 임당동 119-3
23. name: 서울특별시 마포구 동교동 166-14 번지 동교동 스타피카소 8층 lat: 37.5571183, log: 126.9251416, address: 대한민국 서울특별시 마포구 동교동
24. name: 경기도 안산시 단원구 고잔동 541-1 번지 lat: 37.31711840000001, log: 126.8389385, address: 대한민국 경기도 안산시 단원구 고잔동 541-1
25. name: 서울특별시 동작구 사당동 147-53 번지 골든시네마 12층 lat: 37.484608, log: 126.9816382, address: 대한민국 서울특별시 동작구 사당1동 147-53
26. name: 서울특별시 동작구 사당동 147-53 번지 골든시네마 12층 lat: 37.484608, log: 126.9816382, address: 대한민국 서울특별시 동작구 사당1동 147-53
27. name: 서울특별시 서대문구 대신동 85 번지 하늬솔빌딩 지하 1층 lat: 37.5639188, log: 126.9443157, address: 대한민국 서울특별시 서대문구 대신동 85
28. name: 서울특별시 서대문구 대신동 85 번지 하늬솔빌딩 지하 1층 lat: 37.5639188, log: 126.9443157, address: 대한민국 서울특별시 서대문구 대신동 85
29. name: 광주광역시 서구 광천동 49-1 번지 유스퀘어 2-6층 lat: 35.1612826, log: 126.8798817, address: 대한민국 광주광역시 서구 광천동 49-1 유.스퀘어
30. name: 대전광역시 중구 문화동 1-16 번지 세이백화점 별관 6층 lat: 36.3209715, log: 127.4089346, address: 대한민국 대전광역시 중구 문화1동 1-16
31. name: 경기도 부천시 원미구 상동 539-1 번지 소풍6층, 7층 lat: 37.50403850000001, log: 126.7567151, address: 대한민국 경기도 부천시 원미구 상2동 539-1
32. name: 서울특별시 강남구 신사동 602 번지 lat: 37.5242994, log: 127.0294095, address: 대한민국 서울특별시 강남구 신사동 602
33. name: 서울특별시 강남구 신사동 602 번지 lat: 37.5242994, log: 127.0294095, address: 대한민국 서울특별시 강남구 신사동 602
34. name: 서울특별시 영등포구 여의도동 23 번지 국제금융센터 지하3층 lat: 37.5249367, log: 126.9252845, address: 대한민국 서울특별시 영등포구 여의동 23
35. name: 경기 성남시 분당구 구미동 159 월드유통타운 4F lat: 37.3400065, log: 127.1069645, address: 대한민국 경기도 성남시 분당구 구미동 159
36. name: 경상남도 창원시 마산합포구 동성동 268 번지 lat: 35.2060843, log: 128.5757869, address: 대한민국 경상남도 창원시 마산합포구 동성동 268
37. name: 인천광역시 남구 주안동 166-1 번지 lat: 37.461241, log: 126.6805888, address: 대한민국 인천광역시 남구 주안동 166-1
38. name: 서울특별시 종로구 신문로2가 1-181 번지 복합문화공간에무 lat: 37.5720343, log: 126.9689848, address: 대한민국 서울특별시 종로구 신문로2가 1-181
39. name: 대구광역시 중구 수동 1-6 번지 1층 lat: 35.8706599, log: 128.5894435, address: 대한민국 대구광역시 중구 수동 1-6
40. name: 서울특별시 중구 충무로2가 65-9 번지 하이해리엇 10층 lat: 37.5612578, log: 126.9853023, address: 대한민국 서울특별시 중구 퇴계로 123
41. name: 서울특별시 중구 충무로2가 65-9 번지 하이해리엇 10층 lat: 37.5612578, log: 126.9853023, address: 대한민국 서울특별시 중구 퇴계로 123
42. name: 부산광역시 해운대구 우동 1467 번지 lat: 35.1711778, log: 129.1271956, address: 대한민국 부산광역시 해운대구 우동 1467
43. name: 서울특별시 강남구 삼성동 159 번지 lat: 37.5101935, log: 127.0585824, address: 대한민국 서울특별시 강남구 삼성동 159
44. name: 서울특별시 강남구 삼성동 159 번지 lat: 37.5101935, log: 127.0585824, address: 대한민국 서울특별시 강남구 삼성동 159
45: nan 실패
46. name: 서울특별시 용산구 한강로3가 40-999 번지 아이파크몰 6층 lat: 37.5288539, log: 126.9640447, address: 대한민국 서울특별시 용산구 한강대로23길 55
47. name: 부산광역시 부산진구 전포동 892-20 번지 지오플레이스 5층 lat: 35.1494535, log: 129.0640137, address: 대한민국 부산광역시 부산진구 전포동 892-20 5
48. name: 경상북도 포항시 북구 덕산동 113-12 번지 포항시립중앙아트홀 2층 lat: 36.0409301, log: 129.3672287, address: 대한민국 경상북도 포항시 북구 덕산동 113-12
49. name: 서울특별시 노원구 상계동 727-1 번지 조광빌딩 지하 1층 lat: 37.65422, log: 127.0613756, address: 대한민국 서울특별시 노원구 상계동 727-1
50. name: 서울특별시 송파구 신천동 29 번지 신천동, 엔터동롯데시네마(5~11F) lat: 37.5130605, log: 127.103495, address: 대한민국 서울특별시 송파구 신천동 29
51. name: 서울특별시 광진구 자양동 227-7 번지 스타시티몰2층 lat: 37.538557, log: 127.0729616, address: 대한민국 서울특별시 광진구 자양동 아차산로 262
52. name: 서울특별시 구로구 신도림동 692 번지 디큐브시티 제타워동 7,8층 일부 lat: 37.5096815, log: 126.8903362, address: 대한민국 서울특별시 구로구 신도림동 692 디큐브시티
53. name: 인천광역시 부평구 부평동 152-1 번지 lat: 37.4931159, log: 126.7243065, address: 대한민국 인천광역시 부평구 부평동
54. name: 부산광역시 해운대구 우동 1496 번지 롯데백화점 8층 lat: 35.1698426, log: 129.1311016, address: 대한민국 부산광역시 해운대구 우동 1496
55. name: 부산광역시 금정구 부곡동 298-2 번지 lat: 35.2283065, log: 129.0898358, address: 대한민국 부산광역시 금정구 부곡동 298-2
56. name: 부산광역시 중구 중앙동7가 20-1 번지 시네마동 9층 lat: 35.096715, log: 129.0367482, address: 대한민국 부산광역시 중구 중앙동7가 20-1
57. name: 경기도 파주시 탄현면 1652-26 번지 lat: 37.8025465, log: 126.7159861, address: 대한민국 경기도 파주시 탄현면
58. name: 서울특별시 종로구 신문로2가 1-181 번지 복합문화공간에무 lat: 37.5720343, log: 126.9689848, address: 대한민국 서울특별시 종로구 신문로2가 1-181
59. name: 서울특별시 서대문구 창천동 20-25 번지 lat: 37.5564819, log: 126.940327, address: 대한민국 서울특별시 서대문구 창천동 20-25
60. name: 충청북도 청주시 상당구 서문동 29-2 번지 lat: 36.634912, log: 127.486982, address: 대한민국 충청북도 청주시 상당구 서문동 29-2
61. name: 강원도 춘천시 퇴계동 1017 번지 lat: 37.8504654, log: 127.7437351, address: 대한민국 강원도 춘천시 퇴계동 1017
62. name: 경기도 안양시 동안구 관양동 1606 번지 8층 lat: 37.3929453, log: 126.96225, address: 대한민국 경기도 안양시 동안구 관양동 1606
63. name: 광주광역시 동구 서석동 47-1 번지 서석동 lat: 35.1468989, log: 126.922304, address: 대한민국 광주광역시 동구 서석동 47-1
64. name: 인천광역시 동구 송현동 92-7 번지 lat: 37.4754403, log: 126.6342877, address: 대한민국 인천광역시 동구 송현동 92-7
65. name: 서울특별시 노원구 상계동 727-1 번지 조광빌딩 지하 1층 lat: 37.65422, log: 127.0613756, address: 대한민국 서울특별시 노원구 상계동 727-1
66. name: 서울특별시 송파구 신천동 29 번지 신천동, 엔터동롯데시네마(5~11F) lat: 37.5130605, log: 127.103495, address: 대한민국 서울특별시 송파구 신천동 29
67. name: 서울특별시 종로구 낙원동 낙원빌딩 284-6 번지 낙원상가 4층 lat: 37.5726662, log: 126.9878079, address: 대한민국 서울특별시 종로구 삼일대로 428
68. name: 서울특별시 서대문구 연희동 194-25 번지 스페이스독 지하1층 lat: 37.5651376, log: 126.9308739, address: 대한민국 서울특별시 서대문구 연희동 194-25

In [87]:
# 45행 제외하고 모두 성공, 45행은 따로 경도 위도를 찾아주자(주소가 아니라 해당 상영관 명을 입력) 
variety_movie_data['위도'] = latitude
variety_movie_data['경도'] = longitude

In [88]:
# 45행만 다시 전처리 
name = variety_movie_data['상영관명'][45]
geocode_result = gmaps.geocode((name), language='ko') 
lat  = geocode_result[0]["geometry"]["location"]["lat"] # 리스트에서 위도 추출
lon = geocode_result[0]["geometry"]["location"]["lng"] # 리스트에서 경도 추출
re = geocode_result[0]['formatted_address'] # 주소 추출

print("45. name: {0} lat: {1}, log: {2}, address: {3}".format(name, lat, lon, re))
print('수집 완료')

45. name: 인디플러스천안 lat: 36.815129, log: 127.1138939, address: 대한민국 충청남도 천안시
수집 완료

In [89]:
variety_movie_data.loc[variety_movie_data['상영관명'] == name, '위도'] = lat
variety_movie_data.loc[variety_movie_data['상영관명'] == name, '경도'] = lon

In [90]:
# 독립영화 상영관 위도 경도 데이터 수집 완료 
variety_movie_data

,상영관명,스크린명,상영구분,지정일,광역단체,기초단체,영화상영관명,총 스크린수,총 좌석수,필름 상영관수,...,IMAX 상영관수,상설여부,가입여부,전송사업자명,개관일,영업상태,운영형태,주소,위도,경도
0,광주극장,01관(문화부지정),독립·예술영화,2007-5 (2007.07.25),광주시,동구,광주극장,1.0,856.0,1.0,...,0.0,상설,가입,(주)디트릭스,2004-03-26,영업,직영,광주광역시 동구 충장로5가 62,35.149909,126.912262
1,영화공간주안,01관(문화부지정),독립·예술영화,2007-6 (2012.01.26),인천시,남구,영화공간주안,4.0,496.0,0.0,...,0.0,상설,가입,(주)디트릭스,2007-05-01,영업,직영,인천광역시 남구 주안동 166-1 번지,37.461241,126.680589
2,영화공간주안,02관(문화부지정),독립·예술영화,2007-7 (2012.01.26),인천시,남구,영화공간주안,4.0,496.0,0.0,...,0.0,상설,가입,(주)디트릭스,2007-05-01,영업,직영,인천광역시 남구 주안동 166-1 번지,37.461241,126.680589
3,영화공간주안,03관(문화부지정),독립·예술영화,2007-8 (2007.07.25),인천시,남구,영화공간주안,4.0,496.0,0.0,...,0.0,상설,가입,(주)디트릭스,2007-05-01,영업,직영,인천광역시 남구 주안동 166-1 번지,37.461241,126.680589
4,서울아트시네마,01관(문화부지정),독립·예술영화,2007-12 (2007.08.13),서울시,중구,서울아트시네마,1.0,230.0,1.0,...,0.0,상설,가입,(주)에스아이티랩,NaN,영업,직영,서울특별시 중구 정동 22 번지 경향아트힐 2층,37.568127,126.969952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,인천미림극장,01관(문화부지정),독립·예술영화,2020-2 (2020.09.15),인천시,동구,인천미림극장,1.0,253.0,1.0,...,0.0,상설,가입,(주)디트릭스,2013-10-02,영업,직영,인천광역시 동구 송현동 92-7 번지,37.475440,126.634288
65,더숲 아트시네마,02관(문화부지정),독립·예술영화,2020-3 (2020.09.23),서울시,노원구,더숲 아트시네마,2.0,82.0,0.0,...,0.0,상설,가입,(주)디트릭스,2016-12-07,영업,직영,서울특별시 노원구 상계동 727-1 번지 조광빌딩 지하 1층,37.654220,127.061376
66,롯데시네마 월드타워,12관(아르떼)(문화부지정),독립·예술영화,2020-4 (2020.10.14),서울시,송파구,롯데시네마 월드타워,18.0,4537.0,0.0,...,0.0,상설,가입,롯데컬처웍스(주)롯데시네마,2014-10-15,영업,직영,"서울특별시 송파구 신천동 29 번지 신천동, 엔터동롯데시네마(5~11F)",37.513061,127.103495
67,낭만극장,01관(문화부지정),독립·예술영화,2020-5 (2020.12.30),서울시,종로구,낭만극장,1.0,286.0,0.0,...,0.0,상설,가입,(주)더브이엑스,2015-04-21,영업,직영,서울특별시 종로구 낙원동 낙원빌딩 284-6 번지 낙원상가 4층,37.572666,126.987808
68,라이카시네마,S관(문화부지정),독립·예술영화,2022-5 (2022.02.21),서울시,서대문구,라이카시네마,1.0,39.0,0.0,...,0.0,상설,가입,(주)디트릭스,2021-01-13,영업,직영,서울특별시 서대문구 연희동 194-25 번지 스페이스독 지하1층,37.565138,126.930874

In [93]:
# 독립영화관뿐만 아니라, 다른 영화관도 위도 경도 데이터 수집 
latitude = []
longitude = []
address = []
for i in range(cinema_info_data.shape[0]):
    name = cinema_info_data['주소'][i]
    geocode_result = gmaps.geocode((name), language='ko') # 
    try:
        lat  = geocode_result[0]["geometry"]["location"]["lat"] # 리스트에서 위도 추출
        lon = geocode_result[0]["geometry"]["location"]["lng"] # 리스트에서 경도 추출
        re = geocode_result[0]['formatted_address']
        print("{0}. name: {1} lat: {2}, log: {3}, address: {4}".format(i, name, lat, lon, re))
        latitude.append(lat)
        longitude.append(lon)
        address.append(re)
    except:
        latitude.append(0)
        longitude.append(0)
        address.append(0)
        print("{0}: {1} 실패".format(i, name))

0. name: 대구광역시 동구 신천동 1506 번지 신세계백화점 8층 lat: 35.8730511, log: 128.6231546, address: 대한민국 대구광역시 동구 신천동
1. name: 경기도 군포시 금정동 916 번지 AK플라자 금정점 지하1층~지상2층 lat: 37.3579654, log: 126.9372965, address: 대한민국 경기도 군포시 금정동
2. name: 경기도 광명시 소하동 1344 번지 광명G타워 지하1층~지하2층 lat: 37.4397958, log: 126.8832786, address: 대한민국 경기도 광명시 소하동
3. name: 충청북도 청주시 상당구 서문동 29-2 번지 lat: 36.634912, log: 127.486982, address: 대한민국 충청북도 청주시 상당구 서문동 29-2
4. name: 강원도 원주시 단구동 1511-2 번지 스타월드 5,6층 lat: 37.3307188, log: 127.9488553, address: 대한민국 강원도 원주시 단구동 1511-2
5. name: 강원도 춘천시 석사동 980 번지 춘천 NH타운_ENTA 2층 lat: 37.86315889999999, log: 127.7478497, address: 대한민국 강원도 춘천시 석사동 370
6. name: 인천광역시 연수구 송도동 8-21 번지 지하1층 lat: 37.3839118, log: 126.6438546, address: 대한민국 인천광역시 연수구 송도동
7. name: 경상남도 진주시 가좌동 700-1 번지 롯데시네마 진주엠비씨네 lat: 35.1637645, log: 128.1073999, address: 대한민국 경상남도 진주시 가좌동 700-1
8. name: 대구광역시 중구 남일동 65-1 번지 아카데미시네마 3층-8층 lat: 35.8699789, log: 128.5943108, address: 대한민국 대구광역시 중구 남일동 65-1
9. name: 서울특별시 영등포구 영등포동4가 442 번지 경방 타임스퀘어 4~7층 lat: 37.517007, log: 126.9041419, address: 대한민국 서울특별시 영등포구 영등포동4가 442
10. name: 전라남도 해남군 해남읍 355-1 번지 lat: 34.5651727, log: 126.5991887, address: 대한민국 전라남도 해남군 해남읍
11. name: 경상북도 의성군 의성읍 508-1 번지 1층 lat: 36.3559298, log: 128.6947599, address: 대한민국 경상북도 의성군 의성읍
12. name: 경기도 포천시 영북면 514-6 번지 lat: 38.0890759, log: 127.2754661, address: 대한민국 경기도 포천시 영북면
13. name: 경상북도 울진군 울진읍 77-2 번지 울진군청별관 lat: 36.9930666, log: 129.4005861, address: 대한민국 경상북도 울진군 울진읍 울진중앙로 121
14. name: 충청북도 영동군 영동읍 679-4 번지 영동 레인보우 영화관 lat: 36.1730367, log: 127.7774808, address: 대한민국 충청북도 영동군 영동읍 계산로2길 24
15. name: 경상남도 남해군 남해읍 760 번지 남해문화체육센터 lat: 34.8385222, log: 127.8937499, address: 대한민국 경상남도 남해군 남해읍
16. name: 경상남도 산청군 신안면 930-1 번지 2층 lat: 35.3038051, log: 127.9734276, address: 대한민국 경상남도 산청군 신안면
17. name: 인천광역시 강화군 강화읍 239 번지 강화문예회관 2층 lat: 37.7483209, log: 126.4835663, address: 대한민국 인천광역시 강화군 강화읍
18. name: 충청남도 아산시 방축동 379 번지 lat: 36.7767187, log: 126.9785281, address: 대한민국 충청남도 아산시 방축동 379
19. name: 부산광역시 부산진구 전포동 892-20 번지 지오플레이스 5층 lat: 35.1494535, log: 129.0640137, address: 대한민국 부산광역시 부산진구 전포동 892-20 5
20. name: 경기도 하남시 망월동 1079-2 번지 4,5층(망월동) lat: 37.5675503, log: 127.1892407, address: 대한민국 경기도 하남시 망월동
21. name: 강원도 양구군 양구읍 353-1 번지 정중앙시네마 2층 lat: 38.107806, log: 127.9905751, address: 대한민국 강원도 양구군 양구읍
22. name: 경기도 수원시 권선구 호매실동 1397-2 번지 아진스퀘어 7~8층 lat: 37.2768658, log: 126.9503732, address: 대한민국 경기도 수원시 권선구 금호동 108-3
23. name: 서울특별시 마포구 성산동 515 번지 경기장 지하1층, 지상1,2층 lat: 37.5677584, log: 126.8981147, address: 대한민국 서울특별시 마포구 성산동 515
24. name: 서울특별시 양천구 목동 917-6 번지 행복한백화점 6층 메가박스 목동지점 lat: 37.5291722, log: 126.8759793, address: 대한민국 서울특별시 양천구 목동 917-6
25. name: 충청북도 음성군 음성읍 536-6 번지 설성문화회관 3층 lat: 36.934846, log: 127.6905419, address: 대한민국 충청북도 음성군 음성읍
26. name: 경기도 수원시 영통구 영통동 960-1 번지 롯데쇼핑플라자 5층 lat: 37.2527036, log: 127.0716535, address: 대한민국 경기도 수원시 영통구 영통동 960-1 5층
27. name: 경기도 포천시 소흘읍 321-1 번지 lat: 37.8233334, log: 127.1385288, address: 대한민국 경기도 포천시 소흘읍
28. name: 경기도 안양시 동안구 관양동 1502-6 번지 아이퍼스트타워 7층 lat: 37.4002605, log: 126.9761362, address: 대한민국 안양시 동안구 관양동 1502-6번지 1층 아이퍼스트타워 안양시 경기도 KR
29. name: 대전광역시 동구 중동 27-11 번지 3층 lat: 36.3300564, log: 127.4305058, address: 대한민국 대전광역시 동구 중동 27-11
30. name: 부산광역시 사상구 괘법동 533-1 번지 부산서부버스터미널 애플아울렛 본관동 4~5층 lat: 35.1630791, log: 128.9810089, address: 대한민국 부산광역시 사상구 괘법동 533-1
31. name: 울산광역시 울주군 상북면 517 번지 영남알프스 복합웰컴센터 lat: 35.5905691, log: 129.0911726, address: 대한민국 울산광역시 울주군 상북면
32. name: 경기도 화성시 반송동 93-2 번지 동탄SR GOLD PLAZA 7층 lat: 37.20448409999999, log: 127.072774, address: 대한민국 경기도 화성시 반송동 93-2
33. name: 경기도 고양시 일산서구 주엽동 22 번지 그랜드백화점일산점 10층 lat: 37.6707682, log: 126.7610711, address: 대한민국 경기도 고양시 일산서구 주엽동 22
34. name: 제주특별자치도 제주시 삼양이동 1477-8 번지 lat: 33.5202841, log: 126.5876601, address: 대한민국 제주특별자치도 제주시 삼양이동 1477-2
35. name: 제주특별자치도 제주시 아라일동 2574 번지 lat: 33.4839325, log: 126.5358452, address: 대한민국 제주특별자치도 제주시 아라일동 2574
36. name: 부산광역시 해운대구 우동 1496 번지 롯데백화점 8층 lat: 35.1698426, log: 129.1311016, address: 대한민국 부산광역시 해운대구 우동 1496
37. name: 경기도 평택시 평택동 185-579 번지 (평택동, 평택민자역사 8층) lat: 36.9918456, log: 127.0836477, address: 대한민국 경기도 평택시 평택동 185-579
38. name: 서울특별시 서대문구 창천동 20-25 번지 lat: 37.5564819, log: 126.940327, address: 대한민국 서울특별시 서대문구 창천동 20-25
39. name: 서울특별시 광진구 구의동 546-4 번지 테크노마트 10층 lat: 37.5358089, log: 127.0956288, address: 대한민국 서울특별시 광진구 광나루로56길 85
40. name: 충청남도 금산군 금산읍 334-24 번지 lat: 36.1072307, log: 127.4905088, address: 대한민국 충청남도 금산군 금산읍
41. name: 충청남도 부여군 부여읍 구아리 209-1 번지 lat: 36.2813058, log: 126.911703, address: 대한민국 충청남도 부여군 부여읍 구아리 209-1
42. name: 경상북도 고령군 대가야읍 471-1 번지 대가야역사테마관광지 내 lat: 35.719284, log: 128.2606342, address: 대한민국 경상북도 고령군 고령읍 대가야로 1216 대가야역사테마관광지
43. name: 경상남도 양산시 물금읍 1292 번지 lat: 35.3112801, log: 128.9883633, address: 대한민국 경상남도 양산시 물금읍
44. name: 경상남도 양산시 중부동 685-6 번지 lat: 35.338265, log: 129.0269376, address: 대한민국 경상남도 양산시 중부동 685-6
45. name: 경상남도 사천시 실안동 1265 번지 아르떼 리조트 본관 4층 lat: 34.9495854, log: 128.0377465, address: 대한민국 경상남도 사천시 실안동 해안관광로 109-10
46. name: 경상남도 창원시 성산구 중앙동 99-1 번지 메가플렉스 8층 lat: 35.2213515, log: 128.6757294, address: 대한민국 경상남도 창원시 성산구 중앙동 99-1
47. name: 경상남도 창원시 마산회원구 내서읍 1043-1 번지 10층 lat: 35.181734, log: 128.5647477, address: 대한민국 경상남도 창원시 마산합포구 해운동 69-16
48. name: 경상남도 창원시 마산합포구 해운동 68 번지 해운동 유로스퀘어 6~7층 lat: 35.1818374, log: 128.5638393, address: 대한민국 경상남도 창원시 마산합포구 해운동 68
49. name: 경상북도 예천군 호명면 산합리 1430 번지 3층 lat: 36.5766183, log: 128.4828718, address: 대한민국 경상북도 예천군 호명면 산합리
50. name: 경상북도 경산시 하양읍 607 번지 lat: 35.9132087, log: 128.8189471, address: 대한민국 경상북도 경산시 하양읍
51. name: 경상북도 문경시 모전동 859-2 번지 홈플러스 1층 lat: 36.5873247, log: 128.1904469, address: 대한민국 경상북도 문경시 모전동 859-2
52. name: 광주광역시 광산구 우산동 1597-1 번지 lat: 35.1601335, log: 126.8096959, address: 대한민국 광주광역시 광산구 우산동 1597-1
53. name: 경상북도 김천시 평화동 245-82 번지 한일빌딩 4층 lat: 36.1253316, log: 128.1107818, address: 대한민국 경상북도 김천시 평화동 245-82
54. name: 충청북도 제천시 강제동 304-21 번지 lat: 37.1240717, log: 128.2219072, address: 대한민국 충청북도 제천시 강제동 304
55. name: 전라남도 목포시 상동 860-1 번지 쇼핑천국포르모 3층 lat: 34.8070493, log: 126.4259818, address: 대한민국 전라남도 목포시 상동 860-1
56. name: 충청남도 천안시 서북구 두정동 68-16 번지 센트하임프라자 3층 lat: 36.8323495, log: 127.1478624, address: 대한민국 충청남도 천안시 서북구 두정동 68-1
57. name: 충청북도 진천군 진천읍 652 번지 진천터미널 lat: 36.85497489999999, log: 127.4412383, address: 대한민국 충청북도 진천군 진천읍
58. name: 인천광역시 동구 송현동 92-7 번지 lat: 37.4754403, log: 126.6342877, address: 대한민국 인천광역시 동구 송현동 92-7
59. name: 경기도 평택시 비전동 830-1 번지 뉴코아 아울렛 백화점 10층 lat: 36.9956096, log: 127.1124638, address: 대한민국 경기도 평택시 비전동 830-1
60. name: 경기도 고양시 일산동구 장항동 764 번지 라페스타 C 3층 lat: 37.6615162, log: 126.7685826, address: 대한민국 경기도 고양시 일산동구 장항동 764
61. name: 서울특별시 강서구 등촌동 73-1 번지 롯데시네마 가양 lat: 37.561561, log: 126.8532562, address: 대한민국 서울특별시 강서구 양천로 476
62: nan 실패
63. name: 서울특별시 노원구 상계동 1132-35 번지 3~9층 lat: 37.6765234, log: 127.0556617, address: 대한민국 서울특별시 노원구 상계동 1132-35
64. name: 경기도 광명시 일직동 514 번지 GIDC B2층 CGV광명역 lat: 37.4157609, log: 126.8754295, address: 대한민국 경기도 광명시 일직동 산51-4
65. name: 경상남도 양산시 물금읍 1269-13 번지 큐엠시네마타워 4층 lat: 35.3112801, log: 128.9883633, address: 대한민국 경상남도 양산시 물금읍
66. name: 인천광역시 부평구 갈산동 94 번지 U1 테크로밸리 3~5F 롯데시네마 부평갈산 lat: 37.515326, log: 126.7274146, address: 대한민국 인천광역시 부평구 갈산동 94
67. name: 경상북도 영천시 완산동 1402 번지 고은스퀘어 2층 롯데시네마 영천 lat: 35.962931, log: 128.9407081, address: 대한민국 경상북도 영천시 완산동 시장로 96
68. name: 경상북도 경주시 황성동 800-22 번지 lat: 35.8807963, log: 129.218168, address: 대한민국 경상북도 경주시 황성동 800-22
69. name: 전라북도 전주시 덕진구 송천동2가 1422 번지 파인트리몰 5~6층 lat: 35.8671939, log: 127.1208061, address: 대한민국 전라북도 전주시 덕진구 송천중앙로 225 파인트리몰 5층
70. name: 경기도 화성시 오산동 967-157 번지 롯데백화점 7층 롯데시네마 동탄 lat: 37.1512175, log: 127.0752332, address: 대한민국 경기도 오산시 오산동
71. name: 경기도 하남시 덕풍동 831-1 번지 지하 1층 lat: 37.5461477, log: 127.2023877, address: 대한민국 경기도 하남시 덕풍동
72. name: 경기도 시흥시 능곡동 235-1 번지 6F 롯데시네마 시흥장현 lat: 37.37113, log: 126.8067155, address: 대한민국 경기도 시흥시 능곡동 장현능곡로 155
73. name: 경기도 오산시 원동 300-8 번지 씨네마아울렛 5층 lat: 37.1422639, log: 127.07392, address: 대한민국 경기도 오산시 원동 300-8
74. name: 강원도 춘천시 온의동 587-8 번지 뉴타운빌딩 2층 lat: 37.8631234, log: 127.7161022, address: 대한민국 강원도 춘천시 온의동
75. name: 경기도 김포시 구래동 6882-4 번지 두원타워 8층 lat: 37.6451428, log: 126.624557, address: 대한민국 경기도 김포시 구래동 6882-4 분양사무실 123호
76. name: 경기도 안성시 공도읍 354 번지 스타필드 안성 3층 lat: 36.9987214, log: 127.1717611, address: 대한민국 경기도 안성시 공도읍

77. name: 경기도 파주시 금촌동 329-158 번지 MH타워 4층 lat: 37.7649485, log: 126.7745906, address: 대한민국 경기도 파주시 금촌동 329-158
78. name: 전라남도 순천시 해룡면 2139 번지 CGV 순천신대 lat: 34.9260181, log: 127.5523974, address: 대한민국 전라남도 순천시 해룡면 해광로 199
79. name: 경기도 파주시 문발동 510-1 번지 이채쇼핑몰 C동 lat: 37.7138109, log: 126.6877885, address: 대한민국 경기도 파주시 문발동 510-1
80. name: 전라북도 정읍시 수성동 525-1 번지 lat: 35.5698187, log: 126.8495555, address: 대한민국 전라북도 정읍시 수성동 525-1
81. name: 경기도 파주시 야당동 483-3 번지 에스비프라자 3층 lat: 37.7057739, log: 126.7587443, address: 대한민국 경기도 파주시 야당동 483-3
82. name: 경기도 용인시 기흥구 청덕동 556 번지 용인테크노밸리 A동 지하1층 lat: 37.2971075, log: 127.1516753, address: 대한민국 경기도 용인시 기흥구 청덕동
83. name: 경기도 하남시 신장동 616 번지 스타필드 하남 4층 lat: 37.5445154, log: 127.2154841, address: 대한민국 경기도 하남시 신장동
84. name: 경기도 시흥시 배곧동 199-1 번지 M플러스 7층 lat: 37.3718763, log: 126.7356074, address: 대한민국 시흥시 정왕동 배곧라온초
85. name: 전라북도 전주시 완산구 고사동 355-1 번지 lat: 35.82062519999999, log: 127.1424096, address: 대한민국 전라북도 전주시 완산구 고사동 355-1
86. name: 충청남도 천안시 동남구 신부동 363-2 번지 신세계백화점 충청점 B관 4층 CGV 천안터미널 lat: 36.8236482, log: 127.1589814, address: 대한민국 충청남도 천안시 동남구 신부동
87. name: 경기도 동두천시 생연동 616-2 번지 lat: 37.9082427, log: 127.0557816, address: 대한민국 경기도 동두천시 생연동 616-2
88. name: 전라남도 함평군 함평읍 828-56 번지 함평자동차극장 lat: 35.0591292, log: 126.5232366, address: 대한민국 전라남도 함평군 함평읍 곤재로 27
89. name: 경기도 고양시 일산서구 대화동 2602 번지 레이킨스몰 3층 lat: 37.6677307, log: 126.7510438, address: 대한민국 경기도 고양시 일산서구 대화동 2602번지 레이킨스몰 KR
90. name: 경기도 고양시 일산서구 덕이동 219-8 번지 lat: 37.6896954, log: 126.7570214, address: 대한민국 경기도 고양시 일산서구 덕이동 219-8
91. name: 서울특별시 도봉구 방학동 707-6 번지 모비우스스퀘어 8층 lat: 37.665366, log: 127.0434767, address: 대한민국 서울특별시 도봉구 방학1동 707-14
92. name: 경기도 고양시 일산동구 백석동 1237 번지 벨라시타 2층 lat: 37.6413733, log: 126.7907913, address: 대한민국 경기도 고양시 일산동구 백석동 1237
93. name: 경기도 부천시 옥길동 768 번지 lat: 37.4666016, log: 126.8247689, address: 대한민국 경기도 부천시 소사구 옥길동
94. name: 경기도 의정부시 민락동 813-3 번지 lat: 37.7456617, log: 127.1088409, address: 대한민국 경기도 의정부시 민락동
95. name: 경기도 성남시 분당구 서현동 262-2 번지 4층 lat: 37.3854915, log: 127.122325, address: 대한민국 경기도 성남시 분당구 서현동 262-2
96. name: 경기도 수원시 팔달구 팔달로3가 84-5 번지 lat: 37.2762452, log: 127.0159658, address: 대한민국 경기도 수원시 팔달구 팔달로3가 84-5
97: 세종특별자치시 나성동 206 번지 4~6층 실패
98. name: 경기도 안산시 단원구 고잔동 541-1 번지 lat: 37.31711840000001, log: 126.8389385, address: 대한민국 경기도 안산시 단원구 고잔동 541-1
99. name: 인천광역시 연수구 송도동 170-1 번지 lat: 37.3839118, log: 126.6438546, address: 대한민국 인천광역시 연수구 송도동
100. name: 경기도 안양시 동안구 호계동 1039 번지 lat: 37.3902172, log: 126.9504391, address: 대한민국 경기도 안양시 동안구 호계동 1039
101. name: 경기도 수원시 권선구 서둔동 296-77 번지 lat: 37.26794340000001, log: 126.9972677, address: 대한민국 경기도 수원시 권선구 서둔동 296-2
102. name: 울산광역시 남구 삼산동 1480-1 번지 lat: 35.5383725, log: 129.3382442, address: 대한민국 울산광역시 남구 삼산동 1480-1
103. name: 경기도 화성시 동탄면 송리 726-1 번지 라크몽 B1 lat: 37.1647614, log: 127.0952143, address: 대한민국 경기도 화성시 동탄면 송리
104. name: 광주광역시 광산구 장덕동 1678 번지 lat: 35.1902505, log: 126.8209779, address: 대한민국 광주광역시 광산구 장덕동 1678
105. name: 부산광역시 금정구 부곡동 298-2 번지 lat: 35.2283065, log: 129.0898358, address: 대한민국 부산광역시 금정구 부곡동 298-2
106. name: 부산광역시 중구 중앙동7가 20-1 번지 시네마동 9층 lat: 35.096715, log: 129.0367482, address: 대한민국 부산광역시 중구 중앙동7가 20-1
107. name: 대구광역시 북구 칠성동2가 20-1 번지 스펙트럼시티 4층 lat: 35.8852256, log: 128.5897899, address: 대한민국 대구광역시 북구 칠성동 20-1
108. name: 대구광역시 동구 봉무동 1548 번지 메가맥스타워 2층 lat: 35.9207316, log: 128.6357086, address: 대한민국 대구광역시 동구 봉무동 1548
109. name: 경상남도 통영시 무전동 986 번지 lat: 34.8594954, log: 128.4303527, address: 대한민국 경상남도 통영시 무전동 986
110. name: 부산광역시 해운대구 좌동 1467-4 번지 8층 lat: 35.1705843, log: 129.1770927, address: 대한민국 부산광역시 해운대구 좌동 1467-4
111. name: 부산광역시 중구 남포동5가 18-1 번지 lat: 35.0986189, log: 129.0287888, address: 대한민국 부산광역시 중구 남포동5가 18-1
112. name: 서울특별시 강남구 삼성동 159 번지 lat: 37.5101935, log: 127.0585824, address: 대한민국 서울특별시 강남구 삼성동 159
113. name: 서울특별시 서초구 반포동 19-3 번지 센트럴시티 지하1층 lat: 37.5041299, log: 127.0030692, address: 대한민국 서울특별시 서초구 반포동 19-3
114. name: 서울특별시 동작구 사당동 147-53 번지 골든시네마타워 7~11층 lat: 37.484608, log: 126.9816382, address: 대한민국 서울특별시 동작구 사당동 147 53번지
115. name: 충청북도 청주시 흥덕구 가경동 1416-3 번지 8층 lat: 36.6262123, log: 127.4311188, address: 대한민국 충청북도 청주시 흥덕구 가경동 1416-3
116. name: 서울특별시 서대문구 대신동 85 번지 하늬솔빌딩 지하 1층 lat: 37.5639188, log: 126.9443157, address: 대한민국 서울특별시 서대문구 대신동 85
117. name: 서울특별시 송파구 신천동 29 번지 신천동, 엔터동롯데시네마(5~11F) lat: 37.5130605, log: 127.103495, address: 대한민국 서울특별시 송파구 신천동 29
118. name: 서울특별시 광진구 자양동 227-7 번지 스타시티몰2층 lat: 37.538557, log: 127.0729616, address: 대한민국 서울특별시 광진구 자양동 아차산로 262
119. name: 충청북도 청주시 서원구 사창동 488 번지 lat: 36.6325716, log: 127.4604789, address: 대한민국 충청북도 청주시 흥덕구 사창동 488
120. name: 경상남도 밀양시 내이동 1565-16 번지 lat: 35.4992784, log: 128.7462267, address: 대한민국 경상남도 밀양시 내이동 1565-16
121. name: 전라북도 전주시 완산구 고사동 181 번지 씨네큐 전주점 lat: 35.8208224, log: 127.143647, address: 대한민국 전라북도 전주시 완산구 고사동 181
122. name: 대구광역시 중구 계산동2가 200 번지 지하2층 (계산동2가) lat: 35.8662831, log: 128.5907443, address: 대한민국 대구광역시 중구 계산동2가 200 2층
123. name: 강원도 철원군 철원읍 988-2 번지 lat: 38.2120964, log: 127.2129166, address: 대한민국 강원도 철원군 철원읍
124. name: 부산광역시 부산진구 부전동 521-1 번지 KT&G 상상마당부산 8~12층 lat: 35.1542611, log: 129.0575947, address: 대한민국 부산광역시 부산진구 서면로 39
125. name: 강원도 춘천시 죽림동 189 번지 lat: 37.8780529, log: 127.7276558, address: 대한민국 강원도 춘천시 죽림동 189
126. name: 서울특별시 구로구 신도림동 692 번지 디큐브시티 제타워동 7,8층 일부 lat: 37.5096815, log: 126.8903362, address: 대한민국 서울특별시 구로구 신도림동 692 디큐브시티
127. name: 서울특별시 중구 정동 22 번지 경향아트힐 2층 lat: 37.5681269, log: 126.9699522, address: 대한민국 서울특별시 중구 정동 22
128. name: 경기도 부천시 중동 1156 번지 lat: 37.5034813, log: 126.7658019, address: 대한민국 경기도 부천시 원미구 중동 1156
129. name: 광주광역시 동구 충장로5가 62 lat: 35.14990900000001, log: 126.912262, address: 대한민국 광주광역시 동구 충장로5가 62
130. name: 서울특별시 구로구 구로동 3-25 번지 신도림테크노마트 11층~14층 lat: 37.5070431, log: 126.8902185, address: 대한민국 서울특별시 구로구 구로동 3-25
131. name: 서울특별시 서대문구 연희동 194-25 번지 스페이스독 지하1층 lat: 37.5651376, log: 126.9308739, address: 대한민국 서울특별시 서대문구 연희동 194-25
132. name: 충청북도 충주시 성서동 273 번지 lat: 36.9712618, log: 127.9328239, address: 대한민국 충청북도 충주시 성서동 273
133. name: 서울특별시 중구 초동 18-5 번지 명보아트홀 6층 lat: 37.5646969, log: 126.9931733, address: 대한민국 서울특별시 중구 초동 18-5
134. name: 서울특별시 종로구 낙원동 낙원빌딩 284-6 번지 낙원상가 4층 lat: 37.5726662, log: 126.9878079, address: 대한민국 서울특별시 종로구 삼일대로 428
135. name: 경기도 고양시 덕양구 동산동 370 번지 lat: 37.6408924, log: 126.8990509, address: 대한민국 경기도 고양시 덕양구 동산동
136. name: 대전광역시 유성구 용산동 579 번지 현대프리미엄아울렛 대전점 3~4층 lat: 36.4234842, log: 127.3984443, address: 대한민국 대전광역시 유성구 테크노중앙로 123
137. name: 서울특별시 마포구 동교동 166-14 번지 동교동 스타피카소 8층 lat: 37.5571183, log: 126.9251416, address: 대한민국 서울특별시 마포구 동교동
138. name: 서울특별시 성북구 돈암동 538-98 번지 lat: 37.5998684, log: 127.0139365, address: 대한민국 서울특별시 성북구 돈암동 538-98
139. name: 경기도 동두천시 생연동 828-2 번지 lat: 37.9087916, log: 127.0519934, address: 대한민국 경기도 동두천시 생연동 828-2
140. name: 경기도 동두천시 생연동 616-2 번지 lat: 37.9082427, log: 127.0557816, address: 대한민국 경기도 동두천시 생연동 616-2
141. name: 인천광역시 중구 경동 238 번지 lat: 37.4723721, log: 126.6296803, address: 대한민국 인천광역시 중구 경동 238
142. name: 강원도 강릉시 임당동 119-3 번지 lat: 37.754755, log: 128.8966094, address: 대한민국 강원도 강릉시 임당동 119-3
143. name: 경상북도 영주시 영주동 377-18 번지 lat: 36.8238237, log: 128.6242952, address: 대한민국 경상북도 영주시 영주동 377-18
144. name: 서울특별시 광진구 화양동 1 번지 건국대학교 예술디자인대학 B108호 KU시네마테크 lat: 37.5419717, log: 127.0767285, address: 대한민국 서울특별시 광진구 화양동 1
145. name: 경기도 가평군 조종면 410-6 번지 조종 청소년 문화의 집 내 lat: 37.8178242, log: 127.3532361, address: 대한민국 경기도 가평군 하면
146. name: 경기도 광명시 철산동 436 번지 덕수빌딩 4층 lat: 37.4750996, log: 126.8697049, address: 대한민국 경기도 광명시 철산동 436
147. name: 전라북도 부안군 부안읍 455-51 번지 lat: 35.7256979, log: 126.7249876, address: 대한민국 전라북도 부안군 부안읍 455-4
148. name: 전라북도 장수군 장수읍 474 번지 장수한누리전당 lat: 35.6542304, log: 127.5196857, address: 대한민국 전라북도 장수군 장수읍
149. name: 경상남도 함안군 가야읍 58-132 번지 함안군작은영화관 lat: 35.2780859, log: 128.4110068, address: 대한민국 경상남도 함안군 가야읍 58-16
150. name: 전라남도 화순군 화순읍 88 번지 군민회관, 서양정 2층 lat: 35.1486716, log: 126.9226735, address: 대한민국 광주광역시 장동 96-2번지 1층 동구 광주광역시 KR
151. name: 인천광역시 부평구 부평동 534-27 번지 lat: 37.4909973, log: 126.7223081, address: 대한민국 인천광역시 부평구 부평동 534-27
152. name: 서울특별시 중구 필동2가 19-1 번지 lat: 37.56103, log: 126.9953279, address: 대한민국 서울특별시 중구 필동2가 19-1
153. name: 강원도 인제군 북면 원통리 459-4 번지 2층 lat: 38.1201136, log: 128.206666, address: 대한민국 강원도 인제군 북면 원통리 459-4
154. name: 충청남도 보령시 대천동 422-4 번지 lat: 36.3519965, log: 126.5906283, address: 대한민국 충청남도 보령시 대천동 422-4

155. name: 강원도 영월군 영월읍 990-2 번지 lat: 37.1874475, log: 128.4660958, address: 대한민국 강원도 영월군 영월읍
156. name: 대전광역시 중구 문화동 1-13 번지 기독교연합봉사회관 1층 1호 lat: 36.3209524, log: 127.4099541, address: 대한민국 대전광역시 중구 문화동 1-13 1층
157. name: 전라남도 구례군 용방면 931 번지 lat: 35.250644, log: 127.43019, address: 대한민국 전라남도 구례군 용방면
158. name: 충청북도 괴산군 칠성면 율원리 4-7 번지 lat: 36.7760087, log: 127.8587231, address: 대한민국 충청북도 괴산군 칠성면 율원리 4
159. name: 전라북도 무주군 무주읍 1199-3 번지 무주예체문화관 2층 lat: 36.0022087, log: 127.662669, address: 대한민국 전라북도 무주군 무주읍 당산리 1199-3
160. name: 경기도 용인시 기흥구 중동 833 번지 쥬네브썬월드 7001호 lat: 37.2786009, log: 127.1521551, address: 대한민국 경기도 용인시 기흥구 중동 833
161. name: 인천광역시 남구 주안동 166-1 번지 lat: 37.461241, log: 126.6805888, address: 대한민국 인천광역시 남구 주안동 166-1
162. name: 전라북도 전주시 완산구 고사동 355-1 번지 lat: 35.82062519999999, log: 127.1424096, address: 대한민국 전라북도 전주시 완산구 고사동 355-1
163. name: 전라북도 전주시 완산구 고사동 355-1 번지 lat: 35.82062519999999, log: 127.1424096, address: 대한민국 전라북도 전주시 완산구 고사동 355-1
164. name: 전라남도 고흥군 고흥읍 914 번지 lat: 34.6063835, log: 127.2805008, address: 대한민국 전라남도 고흥군 고흥읍
165. name: 서울특별시 강남구 신사동 532-1 번지 대원빌딩 B2 lat: 37.5272905, log: 127.0302433, address: 대한민국 서울특별시 강남구 압구정동
166. name: 서울특별시 중구 충정로1가 68 번지 문화일보사건물 lat: 37.5670828, log: 126.9686365, address: 대한민국 서울특별시 중구 충정로1가 68
167. name: 서울 종로구 낙원동 284-6 낙원상가4층 lat: 37.5726662, log: 126.9878079, address: 대한민국 서울특별시 종로구 삼일대로 428
168. name: 광주광역시 서구 치평동 1218-1 번지 치평동 6층 lat: 35.15429, log: 126.8510607, address: 대한민국 광주광역시 서구 치평동 1218-1 6층
169. name: 경상북도 포항시 남구 상도동 582 번지 밸류플러스 7층 lat: 36.0127109, log: 129.3488979, address: 대한민국 경상북도 포항시 남구 상도동 582
170. name: 광주광역시 서구 광천동 49-1 번지 유스퀘어 2-6층 lat: 35.1612826, log: 126.8798817, address: 대한민국 광주광역시 서구 광천동 49-1 유.스퀘어
171. name: 경상북도 울진군 후포면 857-8 번지 엠시네마 자동차극장 lat: 36.6784446, log: 129.4392632, address: 대한민국 경상북도 울진군 후포면
172. name: 전라북도 김제시 검산동 산62-1 번지 김제시 지평선 시네마 lat: 35.8151145, log: 126.9008666, address: 대한민국 전라북도 김제시 검산동 산62-1
173. name: 서울특별시 강남구 신사동 651-21 번지 lat: 37.522837, log: 127.0370092, address: 대한민국 서울특별시 강남구 신사동 651-21
174. name: 부산광역시 해운대구 우동 1467 번지 lat: 35.1711778, log: 129.1271956, address: 대한민국 부산광역시 해운대구 우동 1467
175. name: 충청남도 부여군 부여읍 617 번지 3층 lat: 36.2755478, log: 126.9112371, address: 대한민국 충청남도 부여군 부여읍
176. name: 경상남도 양산시 덕계동 234-12 번지 lat: 35.3826863, log: 129.1573128, address: 대한민국 경상남도 양산시 덕계동 234-12
177. name: 경상남도 합천군 합천읍 512 번지 2층 lat: 35.5660022, log: 128.157925, address: 대한민국 경상남도 합천군 합천읍
178. name: 전라남도 완도군 완도읍 9-191 번지 완도문화예술의전당 lat: 34.3241148, log: 126.7414652, address: 대한민국 전라남도 완도군 완도읍 가용리 9-191
179: nan 실패
180. name: 전북 전주시 완산구 고사동 340-7 lat: 35.82000480000001, log: 127.141479, address: 대한민국 전라북도 전주시 완산구 고사동 340-7
181. name: 전라북도 진안군 진안읍 143 번지 마이골 작은영화관 lat: 35.7893734, log: 127.4234531, address: 대한민국 전라북도 진안군 진안읍 대성길 3
182. name: 전라북도 순창군 순창읍 471 번지 작은영화관 lat: 35.3769309, log: 127.1470514, address: 대한민국 전라북도 순창군 순창읍
183. name: 전라북도 고창군 고창읍 읍내리 457 번지 lat: 35.4318086, log: 126.7027722, address: 대한민국 전라북도 고창군 고창읍 읍내리 457
184. name: 경기도 안양시 동안구 관양동 1606 번지 8층 lat: 37.3929453, log: 126.96225, address: 대한민국 경기도 안양시 동안구 관양동 1606
185. name: 경기도 부천시 원미구 상동 539-1 번지 소풍6층, 7층 lat: 37.50403850000001, log: 126.7567151, address: 대한민국 경기도 부천시 원미구 상2동 539-1
186. name: 서울특별시 강남구 신사동 602 번지 lat: 37.5242994, log: 127.0294095, address: 대한민국 서울특별시 강남구 신사동 602
187. name: 충청남도 서천군 장항읍 137-1 번지 기벌포영화관 lat: 36.01210500000001, log: 126.6939201, address: 대한민국 충청남도 서천군 장항읍 장항로145번길 30
188. name: 대구광역시 동구 봉무동 1545 번지 lat: 35.9215394, log: 128.6373616, address: 대한민국 대구광역시 동구 봉무동 1545
189. name: 경기도 남양주시 다산동 6141 번지 3~5층 lat: 37.6360028, log: 127.2165279, address: 대한민국 경기도 남양주시
190. name: 광주광역시 북구 생용동 90 번지 lat: 35.2204568, log: 126.9024155, address: 대한민국 광주광역시 북구 생용동 90
191. name: 울산광역시 동구 방어동 58-2 번지 lat: 35.4910337, log: 129.4277649, address: 대한민국 울산광역시 동구 방어동 58-2
192. name: 전라남도 순천시 해룡면 99 번지 순천만플라자 모다아울렛 3층 lat: 34.9138101, log: 127.5376194, address: 대한민국 전라남도 순천시 해룡면
193. name: 전라남도 진도군 진도읍 1140 번지 진도아리랑 시네마 lat: 34.4804737, log: 126.2706126, address: 대한민국 전라남도 진도군 진도읍 동외1길 6-13
194. name: 강원도 횡성군 횡성읍 281-1 번지 횡성시네마 lat: 37.4912758, log: 127.978615, address: 대한민국 강원도 횡성군 횡성읍 앞들서3로 6
195. name: 강원도 고성군 간성읍 146-3 번지 달홀문화센터 lat: 38.37836430000001, log: 128.4672371, address: 대한민국 강원도 고성군 간성읍
196. name: 경기도 안성시 공도읍 306 번지 lat: 36.9987214, log: 127.1717611, address: 대한민국 경기도 안성시 공도읍
197. name: 강원도 원주시 반곡동 1903-3 번지 센트럴파크 7층 lat: 37.3263326, log: 127.9846867, address: 대한민국 강원도 원주시 반곡동
198. name: 전라북도 완주군 봉동읍 881 번지 lat: 35.9369713, log: 127.1621328, address: 대한민국 전라북도 완주군 봉동읍
199. name: 서울특별시 중구 남대문로2가 130 번지 lat: 37.56415200000001, log: 126.981643, address: 대한민국 서울특별시 중구 남대문로2가 130
200. name: 서울특별시 중구 남대문로2가 130 번지 lat: 37.56415200000001, log: 126.981643, address: 대한민국 서울특별시 중구 남대문로2가 130
201. name: 경기도 평택시 장당동 154-2 번지 평택고덕아이파크 103동 3층 lat: 37.0337354, log: 127.0690789, address: 대한민국 경기도 평택시 장당동 154-2
202. name: 서울특별시 종로구 명륜2가 41-9 번지 판타지움빌딩 1층 lat: 37.5834006, log: 126.9998403, address: 대한민국 서울특별시 종로구 명륜2가 41-9
203. name: 경기도 광명시 광명동 150-19 번지 크로앙스 7,8층 lat: 37.4794044, log: 126.8556228, address: 대한민국 경기도 광명시 광명3동 150-19
204. name: 부산광역시 해운대구 우동 1496 번지 롯데백화점 8층 lat: 35.1698426, log: 129.1311016, address: 대한민국 부산광역시 해운대구 우동 1496
205. name: 전라북도 남원시 고죽동 66-3 번지 4층 lat: 35.4255842, log: 127.4116661, address: 대한민국 전라북도 남원시 고죽동 66
206. name: 부산광역시 강서구 명지동 3586-4 번지 8층 9층 CGV 부산명지 lat: 35.0944295, log: 128.9036273, address: 대한민국 부산광역시 강서구 국제8로10번길 38
207. name: 경기도 광명시 일직동 512-3 번지 B1 ~ B2층 lat: 37.4159809, log: 126.8747891, address: 대한민국 경기도 광명시 일직동 산51-2 B2층
208. name: 부산광역시 금정구 장전동 292-4 번지 라퓨타아일랜드 lat: 35.2301204, log: 129.0881013, address: 대한민국 부산광역시 금정구 장전동 292-4
209. name: 경기도 성남시 수정구 시흥동 296-3 번지 파미어스몰 지하 1층 롯데시네마 판교관 lat: 37.4136843, log: 127.0982733, address: 대한민국 경기도 성남시 수정구 시흥동 296-3
210. name: 경기도 성남시 수정구 창곡동 505 번지 lat: 37.4669249, log: 127.1495165, address: 대한민국 경기도 성남시 수정구 창곡동
211. name: 경기도 성남시 수정구 신흥동 4124 번지 신흥역 시네마타워 8~11층 lat: 37.4412578, log: 127.1464408, address: 대한민국 경기도 성남시 수정구 신흥동 4124
212. name: 경상남도 김해시 부원동 1046 번지 아이스퀘어몰 4~5층 lat: 35.2258188, log: 128.8835435, address: 대한민국 경상남도 김해시 김해대로 2342
213. name: 서울특별시 용산구 한강로3가 16-9 번지 용산전자랜드4~5F lat: 37.53308, log: 126.9589423, address: 대한민국 서울특별시 용산구 한강로동 16-21
214. name: 서울특별시 관악구 신림동 1641-2 번지 타임스트림 10층~15층 lat: 37.4838735, log: 126.9302332, address: 대한민국 서울특별시 관악구 신림로 330
215. name: 서울특별시 관악구 봉천동 862-1 번지 에그옐로우 10층 lat: 37.4809615, log: 126.9521689, address: 대한민국 서울특별시 관악구 청룡동 862-1
216. name: 충청북도 청주시 상당구 용암동 1703 번지 lat: 36.6069879, log: 127.5030979, address: 대한민국 충청북도 청주시 상당구 용암동 1703
217. name: 충청북도 청주시 흥덕구 비하동 811 번지 롯데아울렛 4층 lat: 36.6307795, log: 127.4175428, address: 대한민국 충청북도 청주시 흥덕구 비하동
218. name: 부산광역시 중구 남포동5가 12-1 번지 lat: 35.09861300000001, log: 129.0294863, address: 대한민국 부산광역시 중구 남포동5가 12-1
219. name: 서울특별시 영등포구 여의도동 23 번지 국제금융센터 지하3층 lat: 37.5249367, log: 126.9252845, address: 대한민국 서울특별시 영등포구 여의동 23
220. name: 부산광역시 중구 중앙동7가 20-1 번지 시네마동 9층 lat: 35.096715, log: 129.0367482, address: 대한민국 부산광역시 중구 중앙동7가 20-1
221. name: 부산광역시 부산진구 전포동 668-1 번지 6층 lat: 35.1570356, log: 129.0630291, address: 대한민국 부산광역시 부산진구 전포동 668-1
222. name: 부산광역시 부산진구 부전동 503-15 번지 롯데백화점 10층 lat: 35.1568526, log: 129.0566466, address: 대한민국 부산광역시 부산진구 부전동 503-15
223. name: 서울특별시 중랑구 상봉동 130-3 번지 메가박스빌딩 4층 lat: 37.5930326, log: 127.0747358, address: 대한민국 서울특별시 중랑구 상봉동 130-3
224. name: 서울특별시 마포구 서교동 367-5 번지 상상마당빌딩 지하 3층, 4층 lat: 37.550912, log: 126.921127, address: 대한민국 서울특별시 마포구 어울마당로 65
225. name: 경기도 광명시 일직동 500 번지 롯데프리미엄아울렛 광명점 5층 lat: 37.4173914, log: 126.8803303, address: 대한민국 경기도 광명시 일직동
226. name: 서울특별시 서대문구 신촌동 74-12 번지 lat: 37.5598311, log: 126.9422422, address: 대한민국 서울특별시 서대문구 신촌동 74-12
227. name: 서울특별시 강북구 번동 449-1 번지 10~14층 lat: 37.6356724, log: 127.0238758, address: 대한민국 서울특별시 강북구 번동 449-1
228. name: 인천광역시 부평구 부평동 738-21 번지 7,8층 lat: 37.4897746, log: 126.7233082, address: 대한민국 인천광역시 부평구 부평동 738-21
229. name: 인천광역시 부평구 부평동 152-1 번지 lat: 37.4931159, log: 126.7243065, address: 대한민국 인천광역시 부평구 부평동
230. name: 서울특별시 중구 을지로6가 18-21 번지 굿모닝시티 9층~11층 lat: 37.5668355, log: 127.0073743, address: 대한민국 서울특별시 중구 을지로6가 18-21 9층~11층
231. name: 경기도 군포시 산본동 1145-6 번지 10층 (산본동) lat: 37.3577485, log: 126.9306418, address: 대한민국 경기도 군포시 산본동 1145-6 10층

232. name: 경기도 성남시 분당구 백현동 541 번지 현대백화점 8층 lat: 37.38060890000001, log: 127.0981659, address: 대한민국 경기도 성남시 분당구 백현동 산54-1
233. name: 부산광역시 기장군 기장읍 시랑리 산-46 번지 오시리아테마파크 1층 모노플렉스 오시리아점 lat: 35.188963, log: 129.2180378, address: 대한민국 부산광역시 기장군 기장읍 시랑리 453-21번지 오시리아
234. name: 서울특별시 종로구 돈의동 137 번지 lat: 37.570941, log: 126.9912633, address: 대한민국 서울특별시 종로구 돈의동 137
235. name: 충청남도 예산군 예산읍 233-4 번지 lat: 36.6786457, log: 126.8456274, address: 대한민국 충청남도 예산군 예산읍
236: nan 실패
237. name: 전라북도 전주시 덕진구 송천동2가 1329-1 번지 로마네시티 현대썬앤빌 전주 4~8층 CGV lat: 35.8730421, log: 127.1245247, address: 대한민국 전라북도 전주시 덕진구 세병2길 10
238. name: 경기도 수원시 권선구 권선동 1189 번지 수원버스터미널 4층 lat: 37.2503146, log: 127.0208435, address: 대한민국 경기도 수원시 권선구 권선동 1189
239. name: 경기도 광주시 도척면 534 번지 곤지암리조트 제1주차장 lat: 37.304621, log: 127.3312385, address: 대한민국 경기도 광주시 도척면
240. name: 서울특별시 서초구 서초동 1335 번지 B2층 lat: 37.4890172, log: 127.026147, address: 대한민국 서울특별시 서초구 서초동 1335
241. name: 경기도 안산시 단원구 고잔동 725-1 번지 (고잔동, NC백화점 A관 6층) lat: 37.3134207, log: 126.8310059, address: 대한민국 경기도 안산시 단원구 고잔동 725-1
242. name: 충청남도 천안시 동남구 문화동 99-1 번지 파리빌딩 지하1층 lat: 36.8071489, log: 127.1520208, address: 대한민국 충청남도 천안시 동남구 문화동 99-1번지
243. name: 대전광역시 유성구 도룡동 3-1 번지 대전신세계 아트앤사이언스점 6~7층 lat: 36.3781133, log: 127.3843067, address: 대한민국 대전광역시 유성구 도룡동 3-1
244. name: 경기도 용인시 기흥구 구갈동 679 번지 기흥ICT밸리 B동 지하2층 CGV 기흥 lat: 37.2728516, log: 127.1271299, address: 대한민국 경기도 용인시 기흥구 구갈동
245. name: 경기도 하남시 망월동 1129-4 번지 에코타워 2층 201호 lat: 37.4885022, log: 127.127337, address: 대한민국 서울특별시
246. name: 대구광역시 북구 연경동 1078-2 번지 4층 CGV극장 lat: 35.9631385, log: 128.6126523, address: 대한민국 대구광역시 북구 연경동
247. name: 부산광역시 부산진구 부전동 227-2 번지 서면피에스타 11층 lat: 35.1530083, log: 129.0596228, address: 대한민국 부산광역시 부산진구 부전동 227-2
248. name: 경상남도 김해시 율하동 1347-2 번지 3층 lat: 35.2285451, log: 128.8893517, address: 대한민국 경상남도 김해시
249. name: 부산광역시 해운대구 우동 539-10 번지 lat: 35.16323190000001, log: 129.1586606, address: 대한민국 부산광역시 해운대구 우동 539-10
250. name: 충청남도 서산시 동문동 193-1 번지 lat: 36.77874449999999, log: 126.4656143, address: 대한민국 충청남도 서산시 동문동 193-1
251. name: 경기도 화성시 오산동 967-157 번지 롯데백화점 7층 롯데시네마 동탄 lat: 37.1512175, log: 127.0752332, address: 대한민국 경기도 오산시 오산동
252. name: 대구광역시 북구 동천동 895-2 번지 씨네피아 5~11층 lat: 35.9440704, log: 128.5617198, address: 대한민국 대구광역시 북구 동천동 895-2
253. name: 인천광역시 서구 청라동 165-12 번지 지젤M청라 4층 메가박스 청라지젤점 lat: 37.5322829, log: 126.6537116, address: 대한민국 인천광역시 서구 청라동
254. name: 서울특별시 서대문구 대현동 11-1 번지 이화여자대학교 이화캠퍼스콤플렉스(지하4층) lat: 37.5618588, log: 126.9468339, address: 대한민국 서울특별시 서대문구 이화여대길 52
255. name: 경상북도 포항시 북구 대흥동 563-3 번지 3층~9층 lat: 36.0366564, log: 129.3629499, address: 대한민국 경상북도 포항시 북구 대흥동 563-3
256. name: 서울특별시 성북구 동선동1가 1-2 번지 유타몰 10~12층 lat: 37.5925414, log: 127.0170872, address: 대한민국 서울특별시 성북구 동소문로 106
257. name: 충청남도 천안시 서북구 불당동 1485 번지 센트에비뉴 2층,3층, 4층 lat: 36.8191136, log: 127.1102495, address: 대한민국 충청남도 천안시 서북구 불당동 번영로 201
258. name: 전라남도 목포시 죽동 22-3 번지 1층 lat: 34.7905239, log: 126.3839171, address: 대한민국 전라남도 목포시 죽동 22-3
259. name: 서울특별시 마포구 동교동 167-2 번지 LC TOWER 7~10층 lat: 37.5578248, log: 126.9255891, address: 대한민국 Seoul, Mapo-gu, 양화로 186
260. name: 경기도 부천시 괴안동 113-1 번지 역곡 하이뷰 6층 lat: 37.4842641, log: 126.811127, address: 대한민국 경기도 부천시 소사구 괴안동 113-1
261. name: 경기도 안양시 동안구 호계동 1039-3 번지 뉴코아 아울렛 11층 lat: 37.3895065, log: 126.950362, address: 대한민국 경기도 안양시 동안구 호계동 1039-1 번지 뉴코아아울렛 1층 KR
262. name: 경기도 양주시 광사동 651-1 번지 해동월드타워 9층 1,2,3호 10층 1,2,3,4호 lat: 37.795953, log: 127.0803697, address: 대한민국 경기도 양주시 광사동 651
263. name: 경상북도 영천시 완산동 982-34 번지 영철공설시장 2층 202호 lat: 35.9638329, log: 128.9375161, address: 대한민국 경상북도 영천시 완산동 982-34
264. name: 인천광역시 연수구 동춘동 926 번지 스퀘어원 lat: 37.4061063, log: 126.6837238, address: 대한민국 인천광역시 연수구 동춘동 청능대로 210
265. name: 부산광역시 강서구 명지동 3432-3 번지 부산대방디엠시티 센텀오션2차 2층 lat: 35.091813, log: 128.909722, address: 대한민국 부산광역시 대방디엠시티
266. name: 인천광역시 남구 도화동 1011 번지 lat: 37.4713262, log: 126.6635653, address: 대한민국 인천광역시 남구 도화동
267. name: 경기도 남양주시 화도읍 255-24 번지 롯데마트 마석점 lat: 37.650166, log: 127.3093975, address: 대한민국 경기도 남양주시 화도읍 경춘로 1992
268. name: 부산광역시 기장군 기장읍 시랑리 산-46 번지 lat: 35.1946351, log: 129.2147437, address: 대한민국 부산광역시 기장군 기장읍 시랑리 산46
269. name: 부산광역시 북구 덕천동 398-2 번지 lat: 35.211104, log: 129.007605, address: 대한민국 부산광역시 북구 덕천동 398-2
270. name: 강원도 삼척시 성남동 173-3 번지 lat: 37.4398198, log: 129.157976, address: 대한민국 강원도 삼척시 성남동 173-3
271. name: 강원도 강릉시 옥천동 189 번지 씨네몰 6~8층 lat: 37.7556587, log: 128.8986211, address: 대한민국 강원도 강릉시 옥천동 189
272. name: 강원도 원주시 단계동 877-1 번지 lat: 37.3448435, log: 127.9308469, address: 대한민국 강원도 원주시 단계동 877-1
273. name: 인천광역시 연수구 동춘동 926 번지 스퀘어원 쇼핑몰 4층 lat: 37.4061063, log: 126.6837238, address: 대한민국 인천광역시 연수구 동춘동 청능대로 210
274. name: 강원도 속초시 금호동 473-235 번지 속초센텀마크 3층 롯데시네마 lat: 38.2029395, log: 128.5885233, address: 대한민국 강원도 속초시 금호동 473-235
275. name: 충청북도 보은군 보은읍 116-1 번지 lat: 36.4835543, log: 127.7169771, address: 대한민국 충청북도 보은군 보은읍
276. name: 부산광역시 북구 화명동 2275-1 번지 센추리빌딩 lat: 35.2347732, log: 129.0097862, address: 대한민국 부산광역시 북구 화명동 2275-1
277. name: 경상남도 김해시 내동 1131-4 번지 휴앤락몰 4층 lat: 35.2421624, log: 128.8685729, address: 대한민국 경상남도 김해시 내동 1131-4
278. name: 서울특별시 강동구 천호동 42 번지 홈플러스 4층 lat: 37.5456582, log: 127.1422439, address: 대한민국 서울특별시 강동구 천호동 42
279. name: 서울특별시 중구 충무로2가 65-9 번지 하이해리엇 10층 lat: 37.5612578, log: 126.9853023, address: 대한민국 서울특별시 중구 퇴계로 123
280. name: 서울특별시 중구 명동2가 83-5 번지 아바타빌딩 8층 lat: 37.5633734, log: 126.9828862, address: 대한민국 서울특별시 중구 명동2가 83-5
281. name: 서울특별시 중구 을지로6가 17-2 번지 lat: 37.5686986, log: 127.0076666, address: 대한민국 서울특별시 중구 을지로6가 17-2
282. name: 서울특별시 강북구 수유동 168-12 번지 lat: 37.642358, log: 127.0297598, address: 대한민국 서울특별시 강북구 수유동 168-12
283. name: 서울특별시 강북구 미아동 35-4 번지 트레지오쇼핑몰 9층 lat: 37.6120024, log: 127.0307131, address: 대한민국 서울특별시 강북구 미아동 35-4
284. name: 부산광역시 남구 대연동 73-15 번지 5층 lat: 35.135678, log: 129.1000149, address: 대한민국 부산광역시 대연동 62-5번지 5층 명빌딩 남구 부산광역시 KR
285. name: 서울특별시 구로구 구로동 573 번지 lat: 37.5012056, log: 126.8827953, address: 대한민국 서울특별시 구로구 구로동 573
286. name: 광주광역시 동구 불로동 1-21 번지 2층 lat: 35.1468586, log: 126.9146598, address: 대한민국 광주광역시 동구 불로동 1-21
287. name: 부산광역시 해운대구 우동 1495 번지 신세계백화점 서관 7층 lat: 35.1687032, log: 129.1297466, address: 대한민국 부산광역시 해운대구 우동 1495
288. name: 서울특별시 중랑구 상봉동 501 번지 상봉듀오트리스 B2F lat: 37.5990737, log: 127.0893441, address: 대한민국 서울특별시 중랑구 상봉동
289. name: 경기도 김포시 풍무동 202-1 번지 5층 lat: 37.6069598, log: 126.7235321, address: 대한민국 경기도 김포시 풍무동 202-1
290. name: 경기도 남양주시 별내동 1005 번지 지하 1~2층 lat: 37.6662792, log: 127.1133146, address: 대한민국 경기도 남양주시 별내동
291. name: 서울특별시 용산구 한강로3가 40-999 번지 아이파크몰 6층 lat: 37.5288539, log: 126.9640447, address: 대한민국 서울특별시 용산구 한강대로23길 55
292. name: 서울특별시 용산구 한강로3가 40-999 번지 아이파크몰 6층 lat: 37.5288539, log: 126.9640447, address: 대한민국 서울특별시 용산구 한강대로23길 55
293. name: 경기도 고양시 일산동구 중앙로 1036 lat: 37.6432013, log: 126.7897215, address: 대한민국 경기도 고양시 일산동구 중앙로 1036
294. name: 경기도 화성시 오산동 967-164 번지 lat: 37.1512175, log: 127.0752332, address: 대한민국 경기도 오산시 오산동
295. name: 전라남도 보성군 보성읍 2-27 번지 lat: 34.768591, log: 127.080155, address: 대한민국 전라남도 보성군 보성읍
296. name: 전라남도 장흥군 장흥읍 318-2 번지 장흥국민체육센터 4층 lat: 34.6797527, log: 126.9026781, address: 대한민국 전라남도 장흥군 장흥읍
297. name: 경기도 용인시 처인구 역북동 510-3 번지 5층 롯데시네마 사무실 lat: 37.2353443, log: 127.1882048, address: 대한민국 경기도 용인시 처인구 역북동 510-3
298: nan 실패
299. name: 경기도 안양시 만안구 안양동 88-1 번지 lat: 37.4016455, log: 126.9229027, address: 대한민국 경기도 안양시 만안구 안양동 88-1
300. name: 경기도 용인시 수지구 성복동 61-7 번지 롯데몰 수지 5층 롯데시네마 lat: 37.3129984, log: 127.0810716, address: 대한민국 경기도 용인시 수지구 성복동 61-7 5층
301. name: 충청남도 천안시 서북구 불당동 1616 번지 지앤지홀딩스타워 5~8층 lat: 36.8040466, log: 127.1086725, address: 대한민국 충청남도 천안시 서북구 불당동 959
302. name: 전라남도 광양시 광양읍 1834 번지 LF스퀘어 3층 가든동 lat: 34.9776507, log: 127.5821002, address: 대한민국 전라남도 광양시 광양읍
303. name: 충청북도 충주시 교현동 539-1 번지 5,6,7,8층 lat: 36.9809941, log: 127.9278763, address: 대한민국 충청북도 충주시 교현동 539-1
304. name: 광주광역시 서구 치평동 1223-3 번지 4 lat: 35.1541921, log: 126.8544304, address: 대한민국 광주광역시 서구 치평동 1223-3
305. name: 전라북도 전주시 덕진구 장동 1111 번지 2층 lat: 35.8598806, log: 127.0524185, address: 대한민국 전라북도 전주시 덕진구 장동 산111-1
306. name: 경기도 용인시 기흥구 고매동 271 번지 lat: 37.2242727, log: 127.1159821, address: 대한민국 경기도 용인시 기흥구 고매동 271
307: 세종특별자치시 북구 어진동 510 번지 엠브릿지 지하 1~2층 실패
308. name: 경북 안동시 옥동 테마플라자 A동401, 501 lat: 36.5664656, log: 128.6994711, address: 대한민국 경상북도 안동시 옥동 734
309. name: 충청남도 논산시 내동 382-32 번지 우리메가박스타운 3,4층 lat: 36.1897487, log: 127.0991847, address: 대한민국 충청남도 논산시 내동 382-32

310. name: 경상북도 경산시 중방동 897 번지 2층 CGV극장 lat: 35.8270822, log: 128.7340727, address: 대한민국 경상북도 경산시 중방동
311. name: 강원도 인제군 인제읍 388 번지 lat: 38.0703432, log: 128.1722052, address: 대한민국 강원도 인제군 인제읍
312. name: 경기도 수원시 영통구 하동 871-1 번지 갤러리아 백화점 광교점 10층 lat: 37.2853026, log: 127.0573472, address: 대한민국 경기도 수원시 영통구 광교중앙로 124
313. name: 경기도 수원시 장안구 조원동 893 번지 아일렛타운 4층 lat: 37.3035105, log: 127.0074902, address: 대한민국 경기도 수원시 장안구 조원동 893
314. name: 광주광역시 광산구 쌍암동 694-35 번지 lat: 35.2163475, log: 126.8506603, address: 대한민국 광주광역시 광산구 쌍암동 694-35
315. name: 대구광역시 달서구 월성동 1846 번지 이래타워 4층 lat: 35.8282163, log: 128.5255044, address: 대한민국 대구광역시 달서구 월성동
316. name: 충청북도 청주시 상당구 북문로1가 170-1 번지 lat: 36.6352124, log: 127.4880993, address: 대한민국 충청북도 청주시 상당구 북문로1가 170-1
317. name: 충청북도 청주시 흥덕구 복대동 288-14 번지 3,4층 lat: 36.6427051, log: 127.4292284, address: 대한민국 충청북도 청주시 흥덕구 복대동 288-14
318. name: 충청남도 홍성군 홍성읍 1042 번지 5층 lat: 36.6014183, log: 126.6622533, address: 대한민국 충청남도 홍성군 홍성읍
319. name: 충청남도 천안시 서북구 불당동 1289 번지 펜타포트 주상복합상가 5F lat: 36.7983936, log: 127.1014983, address: 대한민국 충청남도 천안시 서북구 공원로 196
320. name: 충청남도 천안시 동남구 대흥동 102-10 번지 오렌지시네스타 5층 lat: 36.8076744, log: 127.1483728, address: 대한민국 충청남도 천안시 동남구 대흥동 102-10
321. name: 충청남도 서산시 동문동 1029-1 번지 서산 디퍼아울렛 lat: 36.7784413, log: 126.456669, address: 대한민국 충청남도 서산시 동문동 1029-1
322. name: 충청남도 논산시 내동 452 번지 CGV타워 3층 lat: 36.1833705, log: 127.0973811, address: 대한민국 충청남도 논산시 내동 452
323. name: 제주특별자치도 제주시 노형동 1288-5 번지 노형타워 5층 lat: 33.48582, log: 126.4783704, address: 대한민국 제주특별자치도 제주시 노형동 1288-5
324. name: 제주특별자치도 제주시 이도이동 1776-3 번지 302~306호 lat: 33.5000748, log: 126.5272959, address: 대한민국 제주특별자치도 제주시 이도이동 1776-3
325. name: 전라북도 전주시 완산구 효자동1가 434 번지 Mall of Hyoja 2층 lat: 35.8069448, log: 127.1156582, address: 대한민국 전라북도 전주시 완산구 용머리로 45
326. name: 전라북도 전주시 완산구 효자동3가 1531-2 번지 엠스퀘어 6층~8층 lat: 35.8167942, log: 127.1064632, address: 대한민국 전라북도 전주시 완산구 효자동3가 1531-2
327. name: 전라남도 목포시 상동 892 번지 lat: 34.8024526, log: 126.4198819, address: 대한민국 전라남도 목포시 상동 892
328. name: 전라남도 나주시 빛가람동 203-3 번지 4층 lat: 35.024698, log: 126.7136454, address: 대한민국 전라남도 나주시 그린로 125 사랑으로부영 2단지 상가 104호 빛가람동커피
329. name: 전라남도 광양시 금호동 624-24 번지 몰오브광양 2~3층 lat: 34.9350743, log: 127.7232928, address: 대한민국 전라남도 광양시 금호동 금호로 26
330. name: 인천광역시 서구 경서동 953-7 번지 3층 305호 lat: 37.5348562, log: 126.6436865, address: 대한민국 인천광역시 서구 경서동 953-17
331. name: 인천광역시 남동구 구월동 1130 번지 씨앤씨빌딩 4층 lat: 37.4463387, log: 126.6946865, address: 대한민국 인천광역시 구월동 1391-9번지 남동구 인천광역시 KR
332. name: 서울특별시 중랑구 묵동 234-1 번지 롯데시네마 중랑 lat: 37.6151588, log: 127.0760186, address: 대한민국 서울특별시 중랑구 묵동 동일로 951
333. name: 강원도 원주시 무실동 1857-2 번지 lat: 37.3372743, log: 127.9266616, address: 대한민국 강원도 원주시 무실동
334. name: 경기도 안산시 상록구 성포동 590 번지 lat: 37.3171241, log: 126.8479131, address: 대한민국 경기도 안산시 상록구 성포동 590
335. name: 인천광역시 남구 주안동 30-1 번지 카라아울렛 6~10층 lat: 37.4655003, log: 126.6804371, address: 대한민국 인천광역시 남구 주안동 30-1
336. name: 인천광역시 남구 학익동 401-21 번지 lat: 37.4454881, log: 126.6517521, address: 대한민국 인천광역시 남구 학익동 401-21
337. name: 인천광역시 계양구 작전동 899-1 번지 8~11층 lat: 37.53367410000001, log: 126.7345081, address: 대한민국 인천광역시 계양구 작전동 899-1
338. name: 울산광역시 북구 진장동 120-9 번지 2층 CGV 울산진장 lat: 35.5760539, log: 129.3560222, address: 대한민국 울산광역시 북구 진장유통로 51-10
339. name: 울산광역시 북구 신천동 51 번지 신천CGV LEEPLEX 6층 lat: 35.6349533, log: 129.3557448, address: 대한민국 울산광역시 북구 신천동 51
340. name: 울산광역시 남구 삼산동 1569-1 번지 업스퀘어 5층 lat: 35.541304, log: 129.338938, address: 대한민국 울산광역시 남구 화합로 185
341. name: 경상북도 상주시 서문동 140-2 번지 lat: 36.4160646, log: 128.1543902, address: 대한민국 경상북도 상주시 서문동 140-2
342. name: 대구광역시 달서구 상인동 241 번지 lat: 35.8165747, log: 128.5392668, address: 대한민국 대구광역시 달서구 상인동 241
343. name: 서울특별시 양천구 목동 916 번지 현대백화점 지하2층 lat: 37.5268253, log: 126.8749782, address: 대한민국 서울특별시 양천구 목동 916
344. name: 서울특별시 성동구 행당동 168-151 번지 (왕십리 민자역사 5층) lat: 37.561837, log: 127.037797, address: 대한민국 서울특별시 왕십리민자역사
345. name: 경상남도 사천시 사천읍 331 번지 lat: 35.0829367, log: 128.0894033, address: 대한민국 경상남도 사천시 사천읍 331-1
346. name: 서울특별시 노원구 중계동 506-1 번지 건영백화점 지하1층 lat: 37.6389443, log: 127.0647295, address: 대한민국 서울특별시 노원구 중계동 506-1
347. name: 서울특별시 노원구 중계동 509-2 번지 lat: 37.639815, log: 127.0686402, address: 대한민국 서울특별시 노원구 중계동 509-2
348. name: 서울특별시 강서구 등촌동 639-23 번지 브릭시티몰 3층 CGV 등촌 lat: 37.5578035, log: 126.85602, address: 대한민국 서울특별시 강서구 등촌동 639-23
349. name: 부산광역시 해운대구 우1동 1495 번지 신세계백화점서관 7층 lat: 35.1628078, log: 129.1580784, address: 대한민국 부산광역시 해운대구 우1동
350. name: 서울특별시 강남구 신사동 602 번지 lat: 37.5242994, log: 127.0294095, address: 대한민국 서울특별시 강남구 신사동 602
351. name: 서울특별시 강남구 역삼동 814-6 번지 스타플렉스 4층~11층 lat: 37.50166249999999, log: 127.0263628, address: 대한민국 서울특별시 강남구 역삼동 814-6
352. name: 부산광역시 연제구 거제2동 1208 번지 홈플러스 lat: 35.1913249, log: 129.064287, address: 대한민국 부산광역시 연제구 거제2동 1208
353. name: 부산광역시 사하구 하단동 526-6 번지 하단동 CGV하단 lat: 35.1065693, log: 128.966336, address: 대한민국 부산광역시 사하구 하단동 526-6
354. name: 부산광역시 동래구 온천동 153-8 번지 SK허브스카이 6층 lat: 35.2212222, log: 129.0854417, address: 대한민국 부산광역시 동래구 온천1동 153-8
355. name: 대전광역시 중구 문화동 1-16 번지 세이백화점 별관 6층 lat: 36.3209715, log: 127.4089346, address: 대한민국 대전광역시 중구 문화1동 1-16
356. name: 대전광역시 서구 가수원동 1042 번지 lat: 36.3023209, log: 127.3527746, address: 대한민국 대전광역시 서구 가수원동
357. name: 대전광역시 동구 용전동 63-3 번지 lat: 36.3502842, log: 127.4366222, address: 대한민국 대전광역시 동구 용전동 63-3
358. name: 대구광역시 중구 동성로2가 88-22 번지 엑슨밀라노 7층 lat: 35.8706025, log: 128.5954175, address: 대한민국 대구광역시 중구 동성로2가 88-22
359. name: 대구광역시 수성구 대흥동 504 번지 lat: 35.8298301, log: 128.690203, address: 대한민국 대구광역시 수성구 대흥동 504
360. name: 대구광역시 북구 동천동 894-1 번지 lat: 35.9441065, log: 128.5603456, address: 대한민국 대구광역시 북구 동천동 894-1
361. name: 광주광역시 동구 충장로4가 29-2 번지 CGV광주충장로 lat: 35.148767, log: 126.9130772, address: 11층, NC웨이브, 163 중앙로 동구 광주광역시 대한민국
362. name: 경상북도 포항시 북구 덕산동 235-4 번지 lat: 36.0408074, log: 129.3682613, address: 대한민국 경상북도 포항시 북구 덕산동 235-4
363. name: 경상남도 창원시 의창구 대원동 122 번지 더시티세븐 3층 lat: 35.2391217, log: 128.6549409, address: 대한민국 경상남도 창원시 의창구 대원동 122
364. name: 경상남도 창원시 의창구 팔용동 30-1 번지 뉴코아아울렛 9층~11층 lat: 35.2345044, log: 128.642199, address: 대한민국 경상남도 창원시 의창구 팔용동 30-1
365. name: 경상남도 창원시 성산구 상남동 77-4 번지 lat: 35.2228098, log: 128.6812405, address: 대한민국 경상남도 창원시 성산구 상남동 77-4
366. name: 경상남도 진주시 충무공동 225-1 번지 어반스퀘어 4,5층 lat: 35.1799817, log: 128.1076213, address: 대한민국 경상남도 진주시
367. name: 경상남도 양산시 삼호동 1010-3 번지 6층 CGV양산삼호점 lat: 35.4138183, log: 129.1678458, address: 대한민국 경상남도 양산시 삼호동 삼호1길 42
368. name: 경상남도 고성군 고성읍 77-1 번지 lat: 34.9742948, log: 128.3242563, address: 대한민국 경상남도 고성군 고성읍
369. name: 경상남도 거제시 장평동 1211 번지 디큐브 백화점 6층 lat: 34.8909151, log: 128.6163087, address: 대한민국 경상남도 거제시 장평동 1211
370. name: 경기도 화성시 무송동 681-535 번지 레이크꼬모 B2층(송동) lat: 37.1930109, log: 126.848485, address: 대한민국 경기도 화성시 무송동
371. name: 대전광역시 서구 관저동 1735 번지 디펠리체 5층 롯데시네마 lat: 36.2944985, log: 127.3329295, address: 대한민국 대전광역시 서구 관저동
372. name: 충청남도 당진시 수청동 1041 번지 7,8,9층 lat: 36.895635, log: 126.6507466, address: 대한민국 충청남도 당진시 수청동
373. name: 대전광역시 서구 둔산동 1279 번지 lat: 36.3519254, log: 127.3795071, address: 대한민국 대전광역시 서구 둔산동 1279
374. name: 서울특별시 강남구 도곡동 174-3 번지 롯데시네마 도곡 lat: 37.4874551, log: 127.0470848, address: 대한민국 서울특별시 강남구 남부순환로 2753
375. name: 경기도 하남시 학암동 660 번지 스타필드시티위례 5층 lat: 37.4798797, log: 127.1484241, address: 대한민국 경기도 하남시 위례대로 200
376. name: 경기도 포천시 소흘읍 110-3 번지 4,5층 lat: 37.8272833, log: 127.1496393, address: 대한민국 경기도 포천시 소흘읍 110-34
377. name: 경기도 파주시 야당동 1066 번지 601호 lat: 37.7139568, log: 126.7598256, address: 대한민국 경기도 파주시 야당동
378. name: 경기도 이천시 중리동 201-1 번지 lat: 37.2798685, log: 127.4440382, address: 대한민국 경기도 이천시 중리동 201-1
379. name: 경기도 의정부시 의정부동 168 번지 lat: 37.7377486, log: 127.0501659, address: 대한민국 의정부시 의정부동 131-11번지 하동 1층 의정부시 경기도 KR
380. name: 경기도 오산시 원동 124-3 번지 lat: 37.1440652, log: 127.0786618, address: 대한민국 경기도 오산시 원동 124-3
381. name: 경기도 양주시 옥정동 963-12 번지 7~8층 (옥정동, 씨네마엠디프라자) lat: 37.8197138, log: 127.1003725, address: 대한민국 경기도 양주시 옥정동 8-5 7
382. name: 경기도 시흥시 정왕동 2537-2 번지 베니스스퀘어 7층 lat: 37.3681573, log: 126.7303942, address: 대한민국 경기도 시흥시 서울 대학로 278번길 61 C동 443호
383. name: 경기도 시흥시 대야동 568-1 번지 lat: 37.4469609, log: 126.7916617, address: 대한민국 경기도 시흥시 대야동 568-1
384. name: 경기도 수원시 팔달구 매산로1가 18 번지 (매산로1가, 수원역사 6층) lat: 37.27053, log: 127.0023342, address: 대한민국 경기도 수원시 팔달구 매산로1가 1-8

385. name: 경기도 수원시 팔달구 인계동 1113-11 번지 씨네파크 7층 lat: 37.2637672, log: 127.0322505, address: 대한민국 경기도 수원시 팔달구 인계동 1113-11
386. name: 경기도 성남시 분당구 야탑동 341 번지 테마폴리스 B2F lat: 37.4130885, log: 127.1270976, address: 대한민국 경기도 성남시 분당구 야탑동 성남대로925번길 16
387. name: 경기도 김포시 걸포동 1574-3 번지 lat: 37.6322815, log: 126.7077853, address: 대한민국 경기도 김포시 걸포동 1574-4
388. name: 경기도 고양시 일산동구 장항동 868 번지 (장항동, 웨스턴돔 3층) lat: 37.6547148, log: 126.772626, address: 대한민국 경기도 고양시 일산동구 장항동 868
389. name: 경기도 고양시 덕양구 행신동 762-2 번지 5층 (행신동) lat: 37.6135715, log: 126.834476, address: 대한민국 경기도 고양시 덕양구 행신동 762-2 5층
390. name: 강원도 춘천시 퇴계동 1017 번지 lat: 37.8504654, log: 127.7437351, address: 대한민국 강원도 춘천시 퇴계동 1017
391. name: 경상남도 하동군 하동읍 237-13 번지 CINEQ 알프스 하동 3~4층 lat: 35.0720973, log: 127.7452905, address: 대한민국 경상남도 하동군 하동읍
392. name: 경상북도 칠곡군 석적읍 608 번지 칠곡호이영화관 및 청소년문화의 집 lat: 36.0514188, log: 128.409406, address: 대한민국 경상북도 칠곡군 석적읍
393. name: 경기도 시흥시 정왕동 2327-2 번지 lat: 37.3513928, log: 126.7418342, address: 대한민국 경기도 시흥시 정왕동 2327-2
394. name: 전라남도 영광군 영광읍 76 번지 영광 작은영화관 lat: 35.272457, log: 126.5070577, address: 대한민국 전라남도 영광군 영광읍 천년로13길 2-26
395. name: 경상북도 안동시 삼산동 140-5 번지 3층 lat: 36.5651365, log: 128.7307581, address: 대한민국 경상북도 안동시 삼산동 140-5
396. name: 강원도 양양군 양양읍 210-36 번지 3층, 4층 lat: 38.0806344, log: 128.6238915, address: 대한민국 강원도 양양군 양양읍
397. name: 충청남도 태안군 태안읍 8-2 번지 동문리 lat: 36.75724659999999, log: 126.3031792, address: 대한민국 충청남도 태안군 태안읍 동문리
398. name: 경기도 의정부시 의정부동 494 번지 센트럴타워 14,15층 lat: 37.737932, log: 127.044042, address: 대한민국 경기도 의정부시 의정부2동 494
399. name: 서울특별시 강남구 역삼동 816 번지 lat: 37.5003556, log: 127.026969, address: 대한민국 서울특별시 강남구 역삼동 816
400. name: 대전광역시 유성구 봉명동 1016-7 번지 센트럴프라자 lat: 36.3522773, log: 127.3443011, address: 대한민국 대전광역시 유성구 봉명동
401. name: 경기도 하남시 망월동 1100 번지 힐스테이트 미사역 그랑파사쥬 3층 3074호 lat: 37.5634757, log: 127.1915548, address: 대한민국 경기도 하남시 망월동 1100
402. name: 경상북도 영양군 영양읍 2-15 번지 영양문화원 2층 lat: 36.6670434, log: 129.1141518, address: 대한민국 경상북도 영양군 영양읍
403. name: 경기도 파주시 탄현면 1652-26 번지 lat: 37.8025465, log: 126.7159861, address: 대한민국 경기도 파주시 탄현면
404. name: 서울특별시 종로구 신문로2가 1-181 번지 복합문화공간에무 lat: 37.5720343, log: 126.9689848, address: 대한민국 서울특별시 종로구 신문로2가 1-181
405. name: 서울특별시 노원구 상계동 727-1 번지 조광빌딩 지하 1층 lat: 37.65422, log: 127.0613756, address: 대한민국 서울특별시 노원구 상계동 727-1
406. name: 경기도 평택시 서정동 818-36 번지 lat: 37.0672161, log: 127.060903, address: 대한민국 경기도 평택시 서정동 818-36
407. name: 경기도 수원시 권선구 금곡동 1114-1 번지 리더스빌딩 10층 lat: 37.2749336, log: 126.9544096, address: 대한민국 경기도 수원시 권선구 금곡동 159-8
408. name: 부산광역시 해운대구 좌동 1479-1 번지 웅신시네아트7층 lat: 35.1691965, log: 129.1766324, address: 대한민국 부산광역시 해운대구 좌동 1479-1
409. name: 충청남도 홍성군 홍북읍 555 번지 6층 메가박스 홍성내포점 lat: 36.6593026, log: 126.6789438, address: 대한민국 충청남도 홍성군 홍북면 청사로174번길 2
410. name: 서울특별시 마포구 동교동 160-4 번지 lat: 37.5559404, log: 126.9220178, address: 대한민국 서울특별시 마포구 동교동 160-4
411. name: 전라남도 순천시 덕암동 151 번지 701호 lat: 34.9412428, log: 127.510912, address: 대한민국 전라남도 순천시 덕암동 151
412. name: 충청북도 제천시 남천동 1145 번지 lat: 37.1352615, log: 128.2123367, address: 대한민국 충청북도 제천시 남천동 1145
413. name: 강원도 속초시 조양동 1506-1 번지 lat: 38.1890667, log: 128.5857827, address: 대한민국 강원도 속초시 조양동 1506-1
414. name: 경기도 남양주시 호평동 640 번지 메인씨네마타워 8,9층 lat: 37.6550547, log: 127.2440912, address: 대한민국 경기도 남양주시 호평동 640
415. name: 울산광역시 중구 성남동 251-8 번지 lat: 35.5544166, log: 129.3210791, address: 대한민국 울산광역시 중구 성남동 251-8
416. name: 대전광역시 서구 탄방동 746 번지 5층 lat: 36.3472792, log: 127.3880154, address: 대한민국 대전광역시 서구 탄방동 746
417. name: 대전광역시 중구 대흥동 205-1 번지 lat: 36.3277006, log: 127.4241242, address: 대한민국 대전광역시 중구 대흥동 205-1
418. name: 광주광역시 광산구 우산동 1587-1 번지 lat: 35.1628683, log: 126.8117119, address: 대한민국 광주광역시 광산구 우산동 1587-1
419. name: 광주광역시 광산구 쌍암동 688-4 번지 lat: 35.221174, log: 126.8525178, address: 대한민국 광주광역시 광산구 쌍암동 688-4
420. name: 경상남도 김해시 대청동 302-5 번지 CGV 김해장유 lat: 35.191927, log: 128.8020226, address: 대한민국 경상남도 김해시 삼문로 12
421. name: 경상남도 진주시 중안동 12-13 번지 lat: 35.19281369999999, log: 128.0826669, address: 대한민국 경상남도 진주시 중안동 12-13
422. name: 경상북도 구미시 원평동 68-1 번지 lat: 36.13005709999999, log: 128.3275497, address: 대한민국 경상북도 구미시 원평동 68-1
423. name: 경상북도 안동시 용상동 1426-1 번지 CGV 안동 3층 lat: 36.5611468, log: 128.7493476, address: 대한민국 경상북도 안동시 용상동 1426-1 3층
424. name: 경상북도 김천시 율곡동 1123 번지 더스퀘어 3층 lat: 36.1398393, log: 128.1135947, address: 대한민국 경상북도 김천시
425. name: 인천광역시 서구 당하동 1098-5 번지 4층 403호(당하동) lat: 37.5863452, log: 126.7036801, address: 대한민국 인천광역시 서구 당하동
426. name: 인천광역시 남동구 논현동 747-1 번지 라피에스타 6층 lat: 37.4083547, log: 126.7126775, address: 대한민국 인천광역시 남동구 논현동 산74-7 6
427. name: 경상남도 창원시 마산합포구 월남동5가 4-1 번지 롯데시네마 프리미엄 경남대 lat: 35.180798, log: 128.5597753, address: 대한민국 경상남도 창원시 마산합포구 월남동5가 해안대로 7
428. name: 경상북도 구미시 공단동 253-2 번지 4층일부,5~7층전체 lat: 36.1042906, log: 128.3849743, address: 대한민국 경상북도 구미시 공단동 253-2
429. name: 경상북도 구미시 원평동 147-9 번지 5층 롯데시네마 사무실 lat: 36.1290176, log: 128.3348068, address: 대한민국 경상북도 구미시 원평동 147-9
430. name: 경상북도 경주시 노동동 73-2 번지 2층 lat: 35.8416069, log: 129.2132294, address: 대한민국 경상북도 경주시 노동동 73-2
431. name: 전라북도 전주시 완산구 서신동 971 번지 롯데백화점 7층 lat: 35.8344854, log: 127.1219267, address: 대한민국 전라북도 전주시 완산구 서신동 971
432. name: 서울특별시 송파구 문정동 618 번지 204동 지하1층 lat: 37.4851331, log: 127.1238462, address: 대한민국 서울특별시 송파구 문정동
433. name: 경기도 화성시 병점동 844-1 번지 lat: 37.2137397, log: 127.0425878, address: 대한민국 경기도 화성시 병점동 844-1
434. name: 광주광역시 동구 황금동 12-2 번지 lat: 35.1480779, log: 126.914636, address: 대한민국 광주광역시 동구 황금동 12-2
435. name: 대구광역시 동구 율하동 1117 번지 lat: 35.86846, log: 128.6934002, address: 대한민국 대구광역시 동구 율하동 1117
436. name: 서울특별시 성동구 성수동1가 656-335 번지 lat: 37.5418544, log: 127.044989, address: 대한민국 서울특별시 성동구 성수동1가 656-335
437. name: 서울특별시 노원구 상계동 713 번지 롯데백화점 10층 lat: 37.6552101, log: 127.0611517, address: 대한민국 서울특별시 노원구 상계동 713
438. name: 경기도 안산시 상록구 성포동 590 번지 롯데마트 안산점 4층 lat: 37.3180115, log: 126.8461214, address: 대한민국 경기도 안산시 상록구 성포동 항가울로 422
439. name: 경기도 안산시 단원구 고잔동 717-2 번지 lat: 37.3087487, log: 126.8289146, address: 대한민국 경기도 안산시 단원구 고잔동 717-2
440. name: 경기도 부천시 원미구 중동 1141-2 번지 lat: 37.5028652, log: 126.7731814, address: 대한민국 경기도 부천시 원미구 중동 1141-2
441. name: 경기도 안양시 동안구 호계동 1039 번지 lat: 37.3902172, log: 126.9504391, address: 대한민국 경기도 안양시 동안구 호계동 1039
442. name: 대전광역시 서구 월평동 243 번지 lat: 36.3618911, log: 127.3789344, address: 대한민국 대전광역시 서구 월평동 243
443. name: 대전광역시 서구 괴정동 423-1 번지 lat: 36.3408418, log: 127.3892867, address: 대한민국 대전광역시 서구 괴정동 423-1
444. name: 광주광역시 동구 대인동 7-1 번지 lat: 35.1545115, log: 126.9122677, address: 대한민국 광주광역시 동구 대인동 7-1
445. name: 광주광역시 동구 대인동 7-1 번지 lat: 35.1545115, log: 126.9122677, address: 대한민국 광주광역시 동구 대인동 7-1
446. name: 인천광역시 남구 관교동 15 번지 지하1층 롯데시네마 lat: 37.440941, log: 126.701426, address: 대한민국 인천광역시 남구 관교동 15
447. name: 인천광역시 중구 중산동 1883-12 번지 3층 롯데시네마 영종하늘도시 lat: 37.4897677, log: 126.5612763, address: 대한민국 인천광역시 중구 하늘중앙로195번길 15
448. name: 대구광역시 북구 구암동 769-1 번지 5층 일부, 6~9층 lat: 35.9421792, log: 128.5638788, address: 대한민국 대구광역시 북구 구암동 769-1
449. name: 대구광역시 서구 내당동 463-62 번지 M프라자4층 lat: 35.8556496, log: 128.5506449, address: 대한민국 대구광역시 서구 내당동 463-62
450. name: 대구광역시 중구 동성로2가 66-1 번지 (동성로 2가) lat: 35.8701932, log: 128.5969103, address: 대한민국 대구광역시 중구 동성로2가 66-1
451. name: 전라남도 여수시 웅천동 1720-3 번지 2층~8층 lat: 34.74904, log: 127.6784807, address: 대한민국 전라남도 여수시 웅천동 1720-4
452. name: 부산광역시 기장군 기장읍 당사리 64 번지 동부산 롯데몰 3층 롯데시네마 동부산 lat: 35.1922755, log: 129.2122007, address: 대한민국 부산광역시 기장군 기장읍 당사리 64
453. name: 서울특별시 은평구 진관동 79-31, 롯데몰 5층 lat: 37.6383999, log: 126.9175649, address: 대한민국 서울특별시
454. name: 부산광역시 동래구 온천동 502-3 번지 lat: 35.2114828, log: 129.0776055, address: 대한민국 부산광역시 동래구 온천동 502-3
455. name: 전라북도 익산시 영등동 149-1 번지 4층 lat: 35.958096, log: 126.9737744, address: 대한민국 전라북도 익산시 영등동 149-1
456. name: 전라북도 군산시 나운동 124-4 번지 lat: 35.9642911, log: 126.7054982, address: 대한민국 전라북도 군산시 나운동 124-4
457. name: 경상북도 포항시 북구 덕산동 113-12 번지 포항시립중앙아트홀 2층 lat: 36.0409301, log: 129.3672287, address: 대한민국 경상북도 포항시 북구 덕산동 113-12
458. name: 충청남도 보령시 대천동 324-4 번지 CGV 보령 lat: 36.3496619, log: 126.592952, address: 대한민국 충청남도 보령시 대천동 대흥로 51
459. name: 강원도 평창군 용평면 374-2 번지 해피웨딩홀 lat: 37.5888087, log: 128.4163569, address: 대한민국 강원도 평창군 용평면 장평리 380
460. name: 서울특별시 강동구 성내동 44-1 번지 lat: 37.5366091, log: 127.1253172, address: 대한민국 서울특별시 강동구 성내동 44-1
461. name: 서울특별시 송파구 신천동 29 번지 신천동,엔터동롯데시네마(5~11F) lat: 37.5130605, log: 127.103495, address: 대한민국 서울특별시 송파구 신천동 29

462. name: 서울특별시 강남구 논현동 3-5 번지 lat: 37.5163382, log: 127.0219324, address: 대한민국 서울특별시 강남구 논현동 3-5
463. name: 서울특별시 영등포구 영등포동 618-496 번지 A동 7~9층 lat: 37.5154709, log: 126.9066823, address: 대한민국 서울특별시 영등포구 영등포동 618-496
464. name: 서울특별시 금천구 독산동 291-5 번지 lat: 37.4693273, log: 126.8970414, address: 대한민국 서울특별시 금천구 독산동 291-5
465. name: 서울특별시 금천구 가산동 60-8 번지 lat: 37.4773564, log: 126.8891438, address: 대한민국 서울특별시 금천구 가산동 60-8
466. name: 서울특별시 강서구 방화동 886 번지 외6필지 lat: 37.5667733, log: 126.8025118, address: 대한민국 서울특별시 강서구 방화동 886
467. name: 서울특별시 마포구 서교동 490 번지 메세나폴리스 2층 롯데시네마 lat: 37.5534897, log: 126.9177304, address: 대한민국 서울특별시 마포구 서교동
468. name: 서울특별시 마포구 동교동 166-14 번지 lat: 37.5572099, log: 126.9249716, address: 대한민국 서울특별시 마포구 동교동 166-14
469. name: 서울특별시 광진구 자양동 227-7 번지 lat: 37.5376127, log: 127.0726183, address: 대한민국 서울특별시 광진구 자양동 227-7
470. name: 충청북도 청주시 상당구 율량동 500-3 번지 그랜드 프라자 청주 3관 2층 lat: 36.6665479, log: 127.4943746, address: 대한민국 충청북도 청주시 상당구 율량동 500-3
471. name: 경기도 용인시 처인구 김량장동 301-3 번지 5~8층 lat: 37.234941, log: 127.2059367, address: 대한민국 경기도 용인시 처인구 김량장동 301-3
472. name: 경기도 오산시 원동 763-21 번지 오산시네마타운 5층 사무실 lat: 37.1460044, log: 127.070389, address: 대한민국 경기도 오산시 원동 763-21
473. name: 경기도 부천시 원미구 심곡동 383-1 번지 심곡동 시네마존 6층~8층 lat: 37.4858187, log: 126.7810157, address: 대한민국 경기도 부천시 원미구 심곡동 383-1 층~8층
474. name: 경기도 부천시 중동 1164 번지 현대백화점 중동점 U-PLEX 5층 lat: 37.50427699999999, log: 126.7620249, address: 대한민국 경기도 부천시 길주로 180
475: 세종특별자치시 종촌동 673 번지 몰리브 7층 실패
476. name: 대전광역시 동구 가오동 557 번지 4층 lat: 36.3069634, log: 127.4579836, address: 대한민국 대전광역시 동구 가오동 557
477. name: 광주광역시 광산구 하남동 832 번지 테라스56 피크닉몰 2층 lat: 35.178293, log: 126.806534, address: 대한민국 광주광역시 광산구 하남동 832
478. name: 인천광역시 남동구 논현동 646-2 번지 노현시네마타워 4층 lat: 37.4021906, log: 126.7086243, address: 대한민국 인천광역시 남동구 논현동 646-2
479. name: 서울특별시 송파구 문정동 634 번지 가든파이브 라이프 영관 10층 lat: 37.4775778, log: 127.1249983, address: 대한민국 서울특별시 송파구 문정동 충민로 66
480. name: 강원도 홍천군 홍천읍 134-11 번지 홍천군문화센터 1층 lat: 37.689189, log: 127.8844197, address: 대한민국 강원도 홍천군 홍천읍
481. name: 서울특별시 은평구 대조동 240 번지 팜스퀘어 11층 lat: 37.6097566, log: 126.928882, address: 대한민국 서울특별시 은평구 대조동 240 11
482. name: 울산광역시 동구 서부동 110-1 번지 lat: 35.5229511, log: 129.4309727, address: 대한민국 울산광역시 동구 서부동 110-1
483. name: 경기도 시흥시 정왕동 1734-2 번지 시화이마트 10층 CGV 정왕 lat: 37.3459555, log: 126.7368864, address: 대한민국 경기도 시흥시 정왕동 1734-1
484. name: 강원도 정선군 고한읍 63-54 번지 고한작은영화관 lat: 37.200866, log: 128.85298, address: 대한민국 정선군 고한역
485. name: 강원도 정선군 정선읍 144-9 번지 아리아리 정선시네마 lat: 37.3785061, log: 128.6641447, address: 대한민국 강원도 정선군 정선읍 봉양리 144
486. name: 전라북도 전주시 완산구 고사동 429-5 번지 전주영화제작소 4층 lat: 35.8183495, log: 127.1425492, address: 대한민국 전라북도 전주시 완산구 전주객사3길 22
487. name: 충청남도 청양군 청양읍 191-5 번지 청양군문화체육센타 lat: 36.4514726, log: 126.8011566, address: 대한민국 충청남도 청양군 청양읍 191-5
488. name: 강원도 화천군 화천읍 1-5 번지 2층 lat: 38.104288, log: 127.7071565, address: 대한민국 강원도 화천군 화천읍
489. name: 울산광역시 울주군 범서읍 225-1 번지 INGG CINEPARK lat: 35.5690514, log: 129.2300426, address: 대한민국 울산광역시 울주군 범서읍
490. name: 경상남도 거창군 거창읍 90-2 번지 (고센시티8층) lat: 35.6874595, log: 127.913012, address: 대한민국 경상남도 거창군 거창읍 중앙리 91
491. name: 경상북도 구미시 봉곡동 36 번지 4층 lat: 36.1383426, log: 128.3151184, address: 대한민국 경상북도 구미시 봉곡동 36
492. name: 경상북도 경주시 신평동 150-10 번지 2-4층 lat: 35.839567, log: 129.290677, address: 대한민국 경상북도 경주시 신평동 150-10
493. name: 경기도 수원시 장안구 천천동 516 번지 3층 롯데시네마 lat: 37.3006049, log: 126.9840635, address: 대한민국 경기도 수원시 장안구 천천동 516
494. name: 제주특별자치도 제주시 한림읍 887-2 번지 한림작은영화관 1층 lat: 33.4088208, log: 126.2680474, address: 대한민국 제주특별자치도 제주시 한림읍 한림중앙로 71-9
495. name: 경기도 양평군 양평읍 양근리 422-2 번지 lat: 37.4911179, log: 127.4890841, address: 대한민국 경기도 양평군 양평읍 양근리 422-2
496. name: 경상남도 창원시 마산회원구 합성2동 267 번지 lat: 35.2391533, log: 128.5835588, address: 대한민국 경상남도 창원시 마산회원구 합성2동 267
497. name: 전라남도 여수시 웅천동 1720-1 번지 lat: 34.74904, log: 127.6784807, address: 대한민국 전라남도 여수시 웅천동 1720-4
498. name: 경기도 부천시 소사구 옥길동 745-6 번지 문영퀸즈파크옥길C동 8층 806호 CGV부천옥길 lat: 37.4837543, log: 126.7820533, address: 대한민국 부천시 심곡본동 594번지 부천지하도상가 251호 부천시 경기도 KR
499. name: 광주광역시 북구 중흥동 362-2 번지 lat: 35.1725979, log: 126.9125845, address: 대한민국 광주광역시 북구 중흥동 362-2
500. name: 경기도 성남시 중원구 성남동 3499 번지 뉴코아아울렛 9~10층 lat: 37.4312776, log: 127.1297679, address: 대한민국 경기도 성남시 중원구 성남동 3499
501. name: 충청남도 연기군 조치원읍 교리 24-1 번지 lat: 36.6030326, log: 127.2981269, address: 대한민국 충청남도 연기군 조치원읍 교리 24-1
502. name: 경기도 양주시 장흥면 44-6 번지 lat: 37.7178471, log: 126.9410868, address: 대한민국 경기도 양주시 장흥면
503. name: 경기도 부천시 원미구 상동 529-2 번지 한국만화영상진흥원 lat: 37.508251, log: 126.7425428, address: 대한민국 경기도 부천시 길주로 1
504: nan 실패
505. name: 경기도 파주시 조리읍 1083 번지 lat: 37.7447782, log: 126.8053619, address: 대한민국 경기도 파주시 조리읍
506. name: 부산광역시 기장군 정관읍 717-6 번지 조은플러스 10층 CGV lat: 35.325549, log: 129.1803043, address: 대한민국 부산광역시 기장군 정관면
507. name: 경기도 화성시 봉담읍 564 번지 2층 221호(프리미엄원희캐슬봉담 ) lat: 37.220154, log: 126.9502589, address: 대한민국 경기도 화성시 봉담읍
508. name: 경기도 안산시 단원구 고잔동 535-1 번지 9층, 10층 lat: 37.3179032, log: 126.8356354, address: 대한민국 경기도 안산시 단원구 고잔동 535-1
509. name: 충청북도 충주시 연수동 1325 번지, 3층 lat: 36.987461, log: 127.9411303, address: 대한민국 충청북도 충주시 연수동 1325
510. name: 대구광역시 달성군 현풍면 중리 490 번지 4층 롯데시네마 lat: 35.6921852, log: 128.4504959, address: 대한민국 대구광역시 달성군 현풍면 중리
511: nan 실패
512. name: 경기도 포천시 소흘읍 41 번지 lat: 37.8233334, log: 127.1385288, address: 대한민국 경기도 포천시 소흘읍
513. name: 인천광역시 부평구 청천동 386 번지 아이즈빌 3층 영화관사무실 lat: 37.5217753, log: 126.703455, address: 대한민국 인천광역시 부평구 청천동 386
514. name: 강원도 원주시 단계동 873 번지 lat: 37.3449835, log: 127.9298028, address: 대한민국 강원도 원주시 단계동 873
515. name: 서울특별시 서초구 서초동 1317-20 번지 아라타워 8층 lat: 37.498044, log: 127.0264112, address: 대한민국 서울특별시 서초구 서초동 1317-20
516. name: 서울특별시 마포구 동교동 159-8 번지 동교동 lat: 37.5564405, log: 126.9226104, address: 대한민국 서울특별시 마포구 동교동 159-8
517. name: 경기도 화성시 반송동 96 번지 (반송동, 메타폴리스 A블럭 3층) lat: 37.2049113, log: 127.0688867, address: 대한민국 경기도 화성시 반송동 96
518. name: 대전광역시 서구 탄방동 744 번지 세이탄방점 7층 lat: 36.3473052, log: 127.3888608, address: 대한민국 대전광역시 서구 탄방동 744
519. name: 서울특별시 종로구 신문로1가 226 번지 흥국생명빌딩 지하 2층 lat: 37.569568, log: 126.9721646, address: 대한민국 서울특별시 종로구 신문로1가 226
520. name: 경기 성남시 분당구 구미동 159 월드유통타운 4F lat: 37.3400065, log: 127.1069645, address: 대한민국 경기도 성남시 분당구 구미동 159
521. name: 충청북도 음성군 맹동면 500 번지 동성리 lat: 36.9301367, log: 127.562718, address: 대한민국 충청북도 음성군 맹동면
522: nan 실패
523. name: 서울특별시 중구 장충동2가 201-6 번지 lat: 37.5516305, log: 127.0024606, address: 대한민국 서울특별시 중구 장충동2가 201-6
524. name: 서울특별시 동작구 사당동 147-53 번지 골든시네마 12층 lat: 37.484608, log: 126.9816382, address: 대한민국 서울특별시 동작구 사당1동 147-53
525. name: 전라북도 익산시 모현동1가 876 번지 4층 롯데시네마 익산모현 lat: 35.94861170000001, log: 126.9414493, address: 대한민국 전라북도 익산시 모현동1가
526. name: 경기도 부천시 원미구 심곡동 175-6 번지 lat: 37.48554379999999, log: 126.7823171, address: 대한민국 경기도 부천시 원미구 심곡동 175-6
527. name: 충청남도 당진시 읍내동 1532 번지 읍내동 lat: 36.8943428, log: 126.6336588, address: 대한민국 충청남도 당진시 읍내동
528. name: 전라남도 순천시 장천동 54-1 번지 lat: 34.9507475, log: 127.4863822, address: 대한민국 전라남도 순천시 장천동 54-1
529. name: 전라남도 목포시 상동 1129-6 번지 CGV 목포평화광장 lat: 34.799194, log: 126.4332708, address: 대한민국 전라남도 목포시 신흥동 원형동로 53
530: nan 실패
531. name: 대전광역시 유성구 지족동 905-4 번지 지족동 노은타운 7층 lat: 36.3725207, log: 127.3185078, address: 대한민국 대전광역시 유성구 지족동 905-4
532. name: 광주광역시 북구 용봉동 17-1 번지 굿모닝타운 4층 lat: 35.1825953, log: 126.9121044, address: 대한민국 광주광역시 북구 용봉동 17-1
533. name: 경상남도 창원시 마산회원구 합성동 126-4 번지 보보스존 12층(구 엠파크8) lat: 35.2375188, log: 128.5824869, address: 대한민국 경상남도 창원시 마산회원구 합성동 126-4 층(구 엠
534. name: 경기도 평택시 비전동 1090-2 번지 로이드빌딩 5층 CGV평택소사 lat: 37.000475, log: 127.111495, address: 대한민국 경기도 평택시 비전1동 90-21
535. name: 경기도 성남시 분당구 서현동 256 번지 서현동 비전월드빌딩 lat: 37.3873371, log: 127.1224605, address: 대한민국 경기도 성남시 분당구 서현동 256
536. name: 경기도 군포시 산본동 1142-2 번지 외1 산본대우비디오플러스 401 lat: 37.3588428, log: 126.9333749, address: 대한민국 경기도 군포시 산본동 1142-2
537. name: 경기도 구리시 인창동 676-2 번지 2-7층 (인창동, 구리맥스) lat: 37.6017216, log: 127.1420457, address: 대한민국 경기도 구리시 인창동 676-2 7층
538. name: 충청남도 당진시 읍내동 251-4 번지 lat: 36.8965499, log: 126.6344008, address: 대한민국 충청남도 당진시 읍내동 251-4
539. name: 충청남도 당진시 읍내동 251-4 번지 3층 (읍내동) lat: 36.8965499, log: 126.6344008, address: 대한민국 충청남도 당진시 읍내동 251-4 3층
540. name: 광주광역시 동구 서석동 47-1 번지 서석동 lat: 35.1468989, log: 126.922304, address: 대한민국 광주광역시 동구 서석동 47-1
541. name: 경상남도 창원시 마산합포구 동성동 268 번지 lat: 35.2060843, log: 128.5757869, address: 대한민국 경상남도 창원시 마산합포구 동성동 268

542. name: 충청북도 청원군 오창읍 양청리 820-1 번지 메가시티 4층 메가박스 오창 lat: 36.7123934, log: 127.4280238, address: 대한민국 충청북도 청원군 오창읍 양청리 820-1
543. name: 인천광역시 중구 운서동 3088-3 번지 예스타워 영종 7~9층 lat: 37.4697684, log: 126.4574949, address: 대한민국 인천광역시 중구 운서동 2172-1
544. name: 서울특별시 도봉구 창동 715-14 번지 lat: 37.6545747, log: 127.0387545, address: 대한민국 서울특별시 도봉구 창동 715-14
545. name: 서울특별시 강서구 마곡동 797-1 번지 퀸즈파크나인 B동 4층 메가박스 마곡지점 lat: 37.5593464, log: 126.8348948, address: 대한민국 서울특별시 강서구 가양동 공항대로 247
546. name: 부산광역시 기장군 정관읍 777-1 번지 5층 lat: 35.325549, log: 129.1803043, address: 대한민국 부산광역시 기장군 정관면
547. name: 경상북도 포항시 남구 오천읍 1134 번지 lat: 35.9631915, log: 129.4147853, address: 대한민국 경상북도 포항시 남구 오천읍
548. name: 경기도 남양주시 별내동 936-4 번지 (별내동,황산빌딩) lat: 37.6662792, log: 127.1133146, address: 대한민국 경기도 남양주시 별내동
549. name: 서울특별시 강서구 화곡동 1073-10 번지 401,501호(화곡동) lat: 37.5405337, log: 126.8375885, address: 대한민국 서울특별시 강서구 화곡동 1073-10
550. name: 경상북도 구미시 진평동 1023-2 번지 lat: 36.1070711, log: 128.4180507, address: 대한민국 경상북도 구미시 진평동 1023-2
551. name: 경기도 화성시 향남읍 하길리 1410-1 번지 701호 lat: 37.0875244, log: 126.9112313, address: 대한민국 경기도 화성시 향남읍 하길리 1410-1
552. name: 경기도 파주시 목동동 17 번지 lat: 37.7224357, log: 126.7441741, address: 대한민국 경기도 파주시 목동동 17
553. name: 경기도 양주시 장흥면 48 번지 lat: 37.7178471, log: 126.9410868, address: 대한민국 경기도 양주시 장흥면
554. name: 경기도 용인시 기흥구 보라동 308 번지 lat: 37.2574004, log: 127.1143934, address: 대한민국 경기도 용인시 기흥구 보라동 308
555. name: 서울특별시 동대문구 전농동 591-53 번지 lat: 37.5792928, log: 127.0479007, address: 대한민국 서울특별시 동대문구 전농동 591-53
556. name: 경상남도 창원시 성산구 상남동 79 번지 lat: 35.2245588, log: 128.6818319, address: 대한민국 경상남도 창원시 성산구 상남동 79
557. name: 경상남도 창원시 진해구 석동 543-3 번지 lat: 35.1588872, log: 128.6973714, address: 대한민국 경상남도 창원시 진해구 석동 543-3
558. name: 경상남도 진주시 충무공동 35 번지 진주롯데몰 lat: 35.1801398, log: 128.1399, address: 대한민국 경상남도 진주시 동진로 440
559. name: 경기도 남양주시 진접읍 1081-2 번지 lat: 37.7263154, log: 127.1898394, address: 대한민국 경기도 남양주시 진접읍
560. name: 전라북도 전주시 완산구 평화동1가 604-1 번지 lat: 35.7963926, log: 127.1327299, address: 대한민국 전라북도 전주시 완산구 평화동1가 604-1
561. name: 인천광역시 서구 연희동 378 번지 lat: 37.5470122, log: 126.6670651, address: 대한민국 인천광역시 서구 연희동 378
562. name: 서울특별시 광진구 군자동 477-12 번지 lat: 37.5557036, log: 127.0783338, address: 대한민국 서울특별시 광진구 군자동 477-12
563. name: 경기도 의정부시 민락동 804-6 번지 해동타워 8,9층 lat: 37.7544036, log: 127.0604127, address: 대한민국 경기도 의정부시 천보로 44
564. name: 울산광역시 중구 성남동 256-24 번지 lat: 35.553308, log: 129.3203385, address: 대한민국 울산광역시 중구 성남동 256-24
565. name: 경기도 안양시 만안구 안양동 676-1 번지 9~13층 lat: 37.39959169999999, log: 126.9202022, address: 대한민국 경기도 안양시 만안구 안양동 676-1
566. name: 충청남도 아산시 모종동 555-5 번지 아산터미널영화관 9~10층 lat: 36.7846657, log: 127.0159829, address: 대한민국 충청남도 아산시 모종동 555-9
567. name: 경기도 안산시 단원구 고잔동 539-2 번지 7~10층 lat: 37.3185349, log: 126.8380276, address: 대한민국 경기도 안산시 단원구 고잔동 539-2
568. name: 대구광역시 달서구 이곡동 1244-1 번지 lat: 35.8544663, log: 128.5078312, address: 대한민국 대구광역시 달서구 이곡동 1244-1
569. name: 강원도 동해시 천곡동 864 번지 lat: 37.5222174, log: 129.1152408, address: 대한민국 강원도 동해시 천곡동 864
570. name: 대구광역시 중구 동성로2가 66-1 번지 더락 4층 lat: 35.8701932, log: 128.5969103, address: 대한민국 대구광역시 중구 동성로2가 66-1
571. name: 경기도 용인시 기흥구 구갈동 234 번지 lat: 37.2728968, log: 127.1189116, address: 대한민국 경기도 용인시 기흥구 구갈동 234
572. name: 대전광역시 서구 오동 181-1 번지 lat: 36.2316854, log: 127.3175315, address: 대한민국 대전광역시 서구 오동 181-1
573. name: 경상남도 김해시 신문동 1414 번지 롯데아울렛 신관 4층 lat: 35.186386, log: 128.831921, address: 대한민국 김해시 롯데아울렛
574. name: 전라북도 군산시 조촌동 450-21 번지 lat: 35.9758578, log: 126.739374, address: 대한민국 전라북도 군산시 조촌동 450-5
575. name: 전라북도 군산시 나운동 114-34 번지 롯데시네마 lat: 35.9616116, log: 126.7046562, address: 대한민국 전라북도 군산시 나운동 114-34
576. name: 경기도 구리시 인창동 419-7 번지 6~8층 롯데시네마 lat: 37.6118493, log: 127.1405509, address: 대한민국 경기도 구리시 인창동 419-7
577. name: 경기도 광주시 경안동 25-3 번지 광주버스터미널2층 lat: 37.409522, log: 127.2612286, address: 대한민국 경기도 광주시 경안동 25-3
578. name: 경기도 수원시 영통구 이의동 1338 번지 롯데아울렛 광교점 4,5층 lat: 37.2860897, log: 127.0558418, address: 대한민국 경기도 수원시 영통구 도청로 10~롯데아울렛 광교점 B1F
579. name: 서울특별시 송파구 잠실동 1168-1 번지 lat: 37.5168502, log: 127.0688923, address: 대한민국 서울특별시 송파구 잠실동 1168-1
580. name: 서울특별시 강동구 성내동 549-1 번지 lat: 37.5284053, log: 127.1253508, address: 대한민국 서울특별시 강동구 성내동 549-1
581. name: 경기도 안성시 석정동 139-1 번지 CGV안성 lat: 37.012173, log: 127.2572461, address: 대한민국 경기도 안성시 석정동 아양2로 109
582. name: 서울특별시 강서구 방화동 886 번지 lat: 37.5667733, log: 126.8025118, address: 대한민국 서울특별시 강서구 방화동 886
583. name: 대구광역시 중구 수동 1-6 번지 1층 lat: 35.8706599, log: 128.5894435, address: 대한민국 대구광역시 중구 수동 1-6
584. name: 제주특별자치도 서귀포시 법환동 914 번지 월드컵경기장내 lat: 33.2472388, log: 126.5092079, address: 대한민국 제주특별자치도 서귀포시 법환동 914
585. name: 경기도 광주시 역동 16-1 번지 lat: 37.4076901, log: 127.2586327, address: 대한민국 경기도 광주시 역동 16-1
586. name: 강원도 강릉시 구정면 어단리 478-132 번지 lat: 37.6934433, log: 128.8961269, address: 대한민국 강원도 강릉시 구정면 어단리 478-132
587. name: 전라남도 여수시 소호동 928 번지 lat: 34.730878, log: 127.6427283, address: 대한민국 전라남도 여수시 소호동 928
588. name: 경기도 화성시 반송동 108 번지 동탄복합문화센터 (반송동) lat: 37.201479, log: 127.0750941, address: 대한민국 경기도 화성시 반송동 108
589. name: 전라북도 전주시 덕진구 송천동2가 661-15 번지 메가월드 A동 3층 lat: 35.8694928, log: 127.1127527, address: 대한민국 전라북도 전주시 덕진구 송천동2가 661-15
590. name: 충청남도 홍성군 홍북면 상하리 88-22 번지 lat: 36.6434082, log: 126.6621608, address: 대한민국 충청남도 홍성군 홍북면 상하리 88-22
591. name: 경기 파주시 탄현면 성동리 646 lat: 37.7788112, log: 126.6842768, address: 대한민국 경기도 파주시 탄현면 성동리 646
592. name: 대구광역시 동구 용수동 50-1 번지 lat: 35.9878971, log: 128.6943218, address: 대한민국 대구광역시 동구 용수동 50-1
593. name: 세종특별자치시 대평동 261-4 번지 lat: 35.8406003, log: 128.732329, address: 대한민국 경상북도 경산시 대평동 261
594. name: 경기도 양평군 양평읍 오빈리 365-9 번지 lat: 37.5021779, log: 127.4703109, address: 대한민국 경기도 양평군 양평읍 오빈리 365-9
595. name: 대구 중구 동성로1가 22-1 lat: 35.87294139999999, log: 128.5956032, address: 대한민국 대구광역시 중구 동성로1가 22-1
596. name: 충청남도 공주시 신관동 248-11 번지 lat: 36.4735186, log: 127.1388792, address: 대한민국 충청남도 공주시 신관동 248-11
597. name: 충남 서천군 마서면 도삼리 69-1 lat: 36.0208828, log: 126.7341219, address: 대한민국 충청남도 서천군 마서면 도삼리 69-1
598. name: 울산광역시 북구 산하동 166-1 번지 lat: 35.6398669, log: 129.4316201, address: 대한민국 울산광역시 북구 산하동 166-1
599. name: 부산광역시 사하구 하단동 1149-5 번지 lat: 35.1095844, log: 128.9475163, address: 대한민국 부산광역시 사하구 하단동 1149-5
600. name: 경기도 남양주시 와부읍 109-4 번지 lat: 37.5853331, log: 127.2169701, address: 대한민국 경기도 남양주시 와부읍
601. name: 대구광역시 수성구 범물동 1273 번지 lat: 35.8211238, log: 128.6404645, address: 대한민국 대구광역시 수성구 범물동 1273
602. name: 강원도 원주시 흥업면 사제리 1652 번지 lat: 37.3370465, log: 127.8668475, address: 대한민국 강원도 원주시 흥업면 사제리 1652
603. name: 경기도 고양시 덕양구 화정동 966-1 번지 시네마플러스 401호 lat: 37.6356837, log: 126.8331472, address: 대한민국 경기도 고양시 덕양구 화정동 966-1
604. name: 경기도 파주시 문산읍 892 번지 (3층) lat: 37.8530229, log: 126.7842319, address: 대한민국 경기도 파주시 문산읍
605. name: 경기도 김포시 운양동 1296-9 번지 lat: 37.6593368, log: 126.6832269, address: 대한민국 경기도 김포시 운양동

In [94]:
# 수집 실패한 행 번호를 찾아보자 
cinema_info_data['위도'] = latitude
cinema_info_data['경도'] = longitude

In [99]:
nan_index = cinema_info_data[cinema_info_data['위도'] == 0].index.values
nan_index

array([ 62,  97, 179, 236, 298, 307, 475, 504, 511, 522, 530])

In [102]:
# 독립영화관뿐만 아니라, 다른 영화관도 위도 경도 데이터 수집 
latitude = []
longitude = []
address = []
for i in nan_index:
    name = cinema_info_data['영화상영관명'][i]
    geocode_result = gmaps.geocode((name), language='ko') # 
    lat  = geocode_result[0]["geometry"]["location"]["lat"] # 리스트에서 위도 추출
    lon = geocode_result[0]["geometry"]["location"]["lng"] # 리스트에서 경도 추출
    re = geocode_result[0]['formatted_address']
    print("{0}. name: {1} lat: {2}, log: {3}, address: {4}".format(i, name, lat, lon, re))
    latitude.append(lat)
    longitude.append(lon)
    address.append(re)

print('수집 완료')

62. name: 롯데시네마 프리미엄 만경 lat: 35.8709183, log: 128.5904288, address: 대한민국 대구광역시 중구 국채보상로 547
97. name: 메가박스 세종나성 lat: 36.483519, log: 127.2639252, address: 대한민국 세종 연기군 특별자치시 남면 나성로 38
179. name: 1939시네마 lat: 37.8236446, log: 127.5134284, address: 대한민국 경기도 가평군 가평읍 대곡리 148-3
236. name: 롯데시네마 천안불당 lat: 36.8132641, log: 127.1082796, address: 대한민국 충청남도 천안시 서북구 불당동 불당21로 67-8
298. name: 롯데시네마 영주 lat: 36.8272907, log: 128.6178641, address: 대한민국 경상북도 영주시 영주동 구성로 417
307. name: 메가박스 세종청사 lat: 36.5026951, log: 127.2577081, address: 대한민국 충청남도 연기군 남면 도움3로 19
475. name: CGV 세종 lat: 36.5026014, log: 127.2476168, address: 대한민국 세종특별자치시 장기면 도움1로 108
504. name: 롯데시네마 충주 lat: 36.96168, log: 127.8981804, address: 대한민국 충청북도 충주시 달천동 중원대로 3683
511. name: 옥천 향수시네마 lat: 36.3040483, log: 127.5755506, address: 대한민국 충청북도 옥천군 옥천읍 문정1길 47
522. name: CGV 광교상현 lat: 37.2967987, log: 127.0680531, address: 대한민국 경기도 용인시 수지구 상현동 광교중앙로 295번길 9
530. name: CGV 건대입구 lat: 37.5397767, log: 127.0669122, address: 대한민국 서울특별시 광진구 자양동 아차산로30길 26
수집 완료

In [104]:
# 비어있는 인덱스에 위도, 경도 데이터를 삽입 
for idx, i in enumerate(nan_index):
    cinema_info_data.loc[i, '위도'] = latitude[idx]
    cinema_info_data.loc[i, '경도'] = latitude[idx]

In [108]:
cinema_info_data
# 이제 히트맵 가능

,광역단체,기초단체,영화상영관명,총 스크린수,총 좌석수,필름 상영관수,2D 상영관수,3D 상영관수,4D 상영관수,IMAX 상영관수,상설여부,특별관운영여부,가입여부,전송사업자명,개관일,영업상태,운영형태,주소,위도,경도
0,대구시,동구,메가박스 대구신세계,6,901,0,6,2,0,0,상설,NaN,가입,메가박스(주),2016-12-15,영업,직영,대구광역시 동구 신천동 1506 번지 신세계백화점 8층,35.873051,128.623155
1,경기도,군포시,메가박스 금정AK플라자,7,613,0,7,0,0,0,상설,NaN,가입,메가박스(주),2022-07-13,영업,직영,경기도 군포시 금정동 916 번지 AK플라자 금정점 지하1층~지상2층,37.357965,126.937297
2,경기도,광명시,메가박스 광명소하,6,800,0,6,0,0,0,상설,NaN,가입,메가박스(주),2022-07-05,영업,직영,경기도 광명시 소하동 1344 번지 광명G타워 지하1층~지하2층,37.439796,126.883279
3,충청북도,청주시,CGV 청주(서문),10,1821,0,10,2,0,0,상설,NaN,가입,CJ올리브네트웍스(주),2007-10-09,영업,직영,충청북도 청주시 상당구 서문동 29-2 번지,36.634912,127.486982
4,강원도,원주시,롯데시네마 남원주,7,1196,0,7,3,0,0,상설,NaN,가입,롯데컬처웍스(주)롯데시네마,2005-10-28,영업,위탁,"강원도 원주시 단구동 1511-2 번지 스타월드 5,6층",37.330719,127.948855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,대구시,수성구,CGV 대구수성,4,804,0,4,2,0,0,상설,NaN,가입,CJ올리브네트웍스(주),2013-05-23,영업,직영,대구광역시 수성구 범물동 1273 번지,35.821124,128.640465
602,강원도,원주시,원주벤허자동차극장,1,50,1,0,0,0,0,상설,NaN,가입,NaN,NaN,영업,직영,강원도 원주시 흥업면 사제리 1652 번지,37.337046,127.866848
603,경기도,고양시,CGV 화정,8,886,0,8,3,0,0,상설,NaN,가입,CJ올리브네트웍스(주),2012-09-13,영업,위탁,경기도 고양시 덕양구 화정동 966-1 번지 시네마플러스 401호,37.635684,126.833147
604,경기도,파주시,CGV 파주문산,3,341,0,3,2,0,0,상설,NaN,가입,CJ올리브네트웍스(주),2014-07-23,영업,직영,경기도 파주시 문산읍 892 번지 (3층),37.853023,126.784232
605,경기도,김포시,CGV 김포운양,4,424,0,4,2,0,0,상설,NaN,가입,CJ올리브네트웍스(주),2014-10-31,영업,직영,경기도 김포시 운양동 1296-9 번지,37.659337,126.683227

In [ ]:
# 독립 영화 상영관 정보 데이터 저장 
# 엑셀 
variety_movie_data.to_excel('독립영화 상영관 정보 데이터.xlsx')
# json 
variety_movie_data.to_json('독립영화 상영관 정보 데이터.json')

# 전국 영화 상영관 정보 데이터 저장 
# 엑셀 
cinema_info_data.to_excel('전국 영화 상영관 정보 데이터.xlsx')
# json
cinema_info_data.to_excel('전국 영화 상영관 정보 데이터.json')